{# main layout #}
{#% spaceless %#}
<!DOCTYPE html>
<html lang="fr-FR">
<head>
	<meta charset="UTF-8" />
    <title>{% block titre %}{# title here #}{% endblock %}</title>
    <meta name="Description" content="Ayurveda concept, massage Sierre, ayurveda Suisse, masseur compétant et passionné
    vous reçoit pour vous masser et vos informer sur cette technique ancestrale." />
    <meta name="Keywords" content="Ayurveda concept, Ayurveda, Ayurveda Sierre, bien-etre, bien-etre Suisse,
    massage bien-etre, relaxation, relaxation Sierre, massage relaxation Suisse, massage relaxant Sierre, massage, massage
    ayurveda, espace bien-etre, pratique traditionnelle inde, technique ayurveda, Abyangha, dosha, Pitta, Kapha, Vata,
    alimentation ayurvedique, huiles essentielles, massage huiles essentielles, medicinal, demo massage, demonstration massage,
    salon de massage, technique de massage, massage pierres chaudes" />
    <meta name="theme-color" content="#dbbd46">
    <meta name="verify-v1" content="Az1u8YqgM3r1BMWPvGhmM4oXnnwoa62mka2OtyHt3RI=" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="stylesheets/app.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
<header>
    {% include 'layout/header.html.twig' %}
    {% include 'layout/nav.html.twig' %}
</header>
<section role="main" id="content">
      {% block content %}{# site content here #}{% endblock %}
</section>
{% include 'layout/footer.html.twig' %}

{% block js %}{# script here #}{% endblock %}
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
_uacct = "UA-4458925-1";
urchinTracker();
</script>
</body>
</html>
{#% endspaceless %#}