{# main layout #}
<!DOCTYPE html>
<html lang="fr-FR">
<head>
	<meta charset="UTF-8" />
    <title>{% block titre %}{# title here #}{% endblock %}</title>
    <meta name="Description" content="Ayurveda concept, massage lyon, ayurveda lyon, masseur compétant et passionné vous reçoit pour vous masser et vos informer sur cette technique ancestrale. 25, rue Henri Rolland – 69100 Villeurbanne(Métro ligne A &gt; sortie Charpennes, T2 IUT-FEYSINE &gt; arrêt Charles Hernu, Derrière l’Hôtel Mercure)" />
    <meta name="Keywords" content="Ayurveda concept, Ayurveda, Ayurveda lyon, bien-etre, bien-etre lyon, massage bien-etre rhone, relaxation, relaxation lyon, massage relaxation rhone, massage relaxant lyon, massage, massage ayurveda lyon, massage rhone, espace bien-etre lyon, pratique traditionnelle inde, technique ayurveda, technique ayurveda lyon, Abyangha, Abyangha rhone, dosha, dosha lyon, Pitta, Pitta rhone, Kapha, Kapha lyon, Vata, Vata rhone, alimentation ayurvedique, alimentation ayurvedique lyon, alimentation rhone, huiles essentielles, huiles essentielles lyon, massage huiles essentielles rhone, medicinal lyon, demo massage, demo massage rhone, demonstration massage, demonstration massage lyon, demonstration massage ayurveda rhone-alpes, salon de massage, salon de massage lyon, Massage, Massage rhone, Ayurveda lyon, massage rhone, technique de massage, technique de massage lyon, massage pierres chaudes, massage pierres chaudes rhone, pierre chaude, pierre chaude lyon" />
    <!-- google verify -->
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <link href="/css/app.css" rel="stylesheet" type="text/css" />
    <link href="/css/offcanvas.css" rel="stylesheet" type="text/css" />
    <link href="/css/responsive-tabs.css" rel="stylesheet" type="text/css" />
    <script src="/js/foundation/modernizr.foundation.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body id="page" class="off-canvas slide-nav">
<div class="row">
    {% include 'layout/header.html.twig' %}
</div>
<div class="row">
    <section role="complementary" id="sidebar" >
        {% include 'layout/nav.html.twig' %}
    </section>
    <section role="main" id="content">
            {% block content %}{# site content here #}{% endblock %}
    </section>
</div>
<footer>{% include 'layout/footer.html.twig' %}</footer>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation/foundation.js"></script>
<script src="/js/foundation/foundation.orbit.js"></script>
<script src="/js/foundation/jquery.offcanvas.js"></script>
<script src="/js/foundation/foundation.reveal.js"></script>
<script src="/js/jquery.responsiveTabs.min.js"></script>
<script>
    $(document).ready(function () {
        $('#horizontalTab').responsiveTabs({
            active: 0,
            startCollapsed: 'accordion',
            collapsible: 'accordion',
            rotate: false,
            setHash: true
        });
        $("a.reveal-link").click(function(){$('#myModal').foundation('reveal', 'open');});
        $("a.close-reveal-modal").click(function(){$('#myModal').foundation('reveal', 'close');});
    });
    $(document).foundation({orbit: { }});
</script>
</body>
</html>