{% extends 'layout.html.twig' %}

{% block titre %}Lyon Ayurveda lyon, Bien être, relaxation Villeurbanne : Ayurveda concept{% endblock %}
{% block content %}
    <h1>Pratique de l'<a href="ayurveda">Ayurveda</a></h1>
    <p><em><strong>"AYU"</strong> signifie en sanscrit <strong>VIE</strong><br />
    <strong>"VEDA"</strong> signifie <strong>CONNAISSANCE, SCIENCE</strong><br />
    <strong>L'AYURVEDA</strong> est donc la connaissance de la vie.</em></p>

    <p>Le but de l'<strong>Ayurveda</strong> est principalement la promotion, le maintien et
    le prolongement d'une vie saine et équilibrée.L’<strong>Ayurveda</strong> intervient dans la  prévention et accompagne
        le  soin des maladies. L'objectif de l'<strong>Ayurveda</strong> est le maintien de l'équilibre du corps et de l'esprit.
    </p>
    <p><img src="/images/inde-le-taj-mahal.gif" width="150" height="146" class="left th" alt="massage, ayurveda, massage, lyon, 69, rhone-alpes"/>
    Le concept fondamental de l'<strong>Ayurveda</strong> repose sur le fait que l'homme (microcosme) est composé
    des mêmes composants basiques que constituent notre univers (macrocosme) plus précisément la TERRE, l'EAU, le FEU, l'AIR
    et l'ESPACE (Ether) appelé : "LE PANCHAMAHABUTHAS". C'est cinq éléments constituant de notre corps, forment les trois
        énergies "DOSHA" ou "TRIDOSHA" "<a href="vata">VATA</a>, <a href="pitta">PITTA</a>, <a href="kapha">KAPHA</a>"
        qui représente la nature de l'individu, le "Prakrurti"</p>
    <p>Quand ces éléments dans notre organisme sont en équilibre parfait, alors on atteint une excellente forme physique
       et une bonne santé. En outre, si le corps commence à perdre sa forme (déséquilibre extérieur) cela est dû
        nécessairement à un déséquilibre intérieur, le "Vikrurti".</p>

    <h2>Qu'est ce que le massage ABYANGHA ?</h2>
    <p><img src="/images/inde.gif" width="200" height="200" class="left th" alt="massage, ayurveda, massage, lyon, 69, rhone-alpes"/>
    <br  />L'Abyangha est un massage holistique réunissant dans sa pratique les dimensions psychique, émotionnelles,
        énergétiques et physiologiques.<br  /><br  />
    Il se pratique avec des huiles essentielles chaudes spécifiques à la constitution de l'individu et à pour but d'éliminer
        les toxines de toute nature, d'augmenter le Prana (énergie), la capacité de mobilité et d'adaptation aux évènements
        extérieurs...</p><br  />
    <p>C'est à la fois un massage de détente et de stimulation puisqu'on travaille sur les centres énergétiques du corps.
        Le massage est pratiqué avec des huiles essentielles à base de plantes médicinales (7000 variétés dont des écorces,
        des herbes, arbutes, épices, feuilles, fruits, fleurs) étudiées et élaborées en fonction de leurs apports énergétiques
        et thérapeutiques sur les différentes parties du corps. Elles sont appelées : HUILES AYURVEDIC OIL.</p>
    <p>Le massage ABYANGHA traditionnel dure 2h30 car le corps entièrement est passé en revue, de même que les centres
        énergétiques et les chakras. Les massages AYURVEDIC reste une pratique préconisée outre les problèmes esthétiques
        pour réguler tous les disfonctionnements d'ordre métabolique et organique.</p>
    <p>STRESS - FATIGUE - ANXIETE - DEPRIME - PERTE DE VITALITE sont les états dont notre corps a à lutter en permanence.
        Par les bienfaits des massages Ayurvédic, ces accumulations néfastes sont progressivement expulsées et laissent
        place à l'APAISEMENT - LA DETENTE - LA VITALITE - LA RELAXATION donc un BIEN ÊTRE GLOBAL.</p>
    <h2>LES  BIENFAITS CURATIFS DU MASSAGE</h2>
    <p><img src="/images/shema2.jpg" width="110" height="89" class="left th" alt="massage, ayurveda, massage, lyon, 69, rhone-alpes"/>
    La vie moderne est devenue d’une certaine manière très oisive. La plupart des citadins ne font que peu de travail physique.
    Les exigences de leurs métiers ne leur permettent pas de participer à des activités qui sollicitent leurs muscles. </p><br  />
    <p>En outre, ils jouissent peu du plein air, d’aliments naturels, de la lumière du soleil : aussi leur organisme connaît-il
        un fort déséquilibre. Le remède le meilleur, le plus aisé et le plus naturel à tout cela, c’est le massage.</p>
    <p>Si on ne peut pas masser le corps entièrement, il convient de faire au moins un massage des pieds chaque soir avant
        le coucher.  La tête doit être massée une ou deux fois par semaine, ou tous les trois jours.</p>
    <p>Le massage régulier, fait même seulement une ou deux fois par semaine, empêche le développement de nombreux troubles
        cutanés comme l’eczéma, les cloques,  les croûtes et la séborrhée. Il accroît aussi l’endurance, la patience, la
        confiance en soi, l’intelligence, la vitalité sexuelle et la beauté physique.</p>
    <p><img src="/images/shema1.jpg" width="110" height="96" class="right th" alt="massage, ayurveda, massage, lyon, 69, rhone-alpes"/>
        Le massage est utilisé thérapeutiquement pour la  neurasthénie, les maux de tête, l’insomnie, la goutte, la polio,
        l’obésité, l’arthrite, la tension irrégulière, l’asthme et les troubles mentaux. Il augmente la production de globules
        blancs et d’anticorps, ce qui procure une résistance contres les virus et maladies causés par l’infection.</p>
    <p>Il aide les mécanismes de défense du corps et renforce le système immunitaire.  Le massage accroît aussi l’aptitude
        du corps à s’adapter à des changements soudains de température et de pression atmosphérique, ainsi qu’à d’autres
        changements environnementaux.</p>
    <p>Le massage régulier aide à équilibrer les trois humeurs corporelles, appelées, en Ayurveda, doshas : <a href="vata">VATA</a>
        (vent), <a href="pitta">PITTA</a> (bile) et <a href="kapha">KAPHA</a> (mucus).Il établit aussi l’équilibre entre
        les trois qualités fondamentales – sattva, rajas et tamas*.</p>
    <ul>
        <li>SATTVA (<a href="pitta">Pitta</a>) représente la conscience et la connaissance</li>
        <li>RAJAS (<a href="vata">Vata</a>) représente l'action et le mouvement</li>
        <li>TAMA (<a href="kapha">Kapha</a>) représente l'inertie voir une force qui s'oppose aux deux autres responsable de la jalousie, l'égoïsme,  fainéantise, l'avarie.</li>
    </ul>
    <p><img src="/images/kat_ayurveda.gif" width="163" height="110" class="left th" alt="massage, ayurveda, massage, lyon, 69, rhone-alpes"/>Quand le massage fait l’objet d’une pratique quotidienne, il donne des bienfaits agréables. La chaleur corporelle et
    la vitalité augmentent à mesure que les systèmes circulatoire et respiratoire s’ouvrent pour fournir de l’oxygène frais
    et de l’énergie vitale sous forme d’éléments nutritifs. En même temps, les gaz et les toxines sont éliminés de l’organisme.</p>

{% endblock %}


