{% extends 'layout.html.twig' %}

{% block titre %}Calendrier formation Ayurveda Martinique{% endblock %}
{% block content %}
    <div id="banner">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23B39DDB&ctz=Europe%2FParis&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&showNav=1&src=Y2xhaXJlc2Fzc2VsbGFAZ21haWwuY29t&src=ZGQ0OTk2YTM2ODY3NzNhNzQ4NzIxM2ZlNDc5MzRjY2Q1ZWQ5ZGQ4ZmZmMzUzYTNhMGVmNGNlODAyODU0ZjQ4Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237CB342&color=%239E69AF" style="border-width:0" width="100%" height="467" frameborder="0" scrolling="no"></iframe>
        <article>
            <h1>Calendrier et conditions de formations</h1>
            <p>Vous trouverez ici, les dates des prochains modules de formation à l'<a href="ayurveda">Ayurveda</a>.<br/></p>
            <a href="formation-ayurveda" class="btn">Voir le plan de formation</a>
        </article>
    </div>
    <div id="ban">
        <article>
            <h2>Conditions et coût des formations</h2>
            <p>Formation: «ABYANGHA BASIC» module 1+2 :</p>
            <ul>
                <li>Coût total de la formation: 1000€</li>
                <li>Montant de l'acompte : 250€</li>
                <li>Solde à régler le premier jour de la formation : 750€</li>
            </ul>
            <p>Formation: «ABYANGHA BASIC» 1 semaine :</p>
            <ul>
                <li>Coût total de la formation: 1200€</li>
                <li>Montant de l'acompte : 300€</li>
                <li>Solde à régler le premier jour de la formation : 900€</li>
            </ul>
        </article>
    </div>

    <article class="content">
        <p>Les formations sont sur <strong>2 modules OBLIGATOIRES DE 3 JOURS sur 2 weeks-ends pendant 2 mois (vendredi-samedi-dimanche
                ou samedi-dimanche-lundi ou encore dimanche-lundi-mardi en fonction du calendrier des vacances scolaires)
                et d'une semaine complète (du lundi au dimanche pendant les vacances estivales).</strong>
            Un <strong>acompte ou virement bancaire</strong> devra être accompagné de votre
            <a href="/pdf/FicheInscriptionFormation.pdf" target="_blank"><strong>fiche d’inscription</strong>
            </a> à télécharger sur le site. <strong>Le solde est à régler le premier jour du début de la formation ou sur
                modalités de paiement.</strong></p>
        <p><strong>Nous vous informerons ultérieurement du lieu de formation.</strong><br/>
            Remise de 2 supports pédagogiques pour la formation et d'un certificat de formation à la fin du stage.</p>
        <p>Il est impératif de <a href="/pdf/FicheInscriptionFormation.pdf" target="_blank"><strong>s’inscrire</strong></a> pour
            accéder aux formations. Vous avez la possibilité de réserver les dates pour les modules 1+ 2 ainsi que la formation
            d'une semaine complète, les mois vous convenant en consultant le planning des formations affiché pour l’année
            sur le site internet. Votre inscription sera définitive dès réception de cette fiche et de votre règlement
            (vous recevrez un mail de validation de votre inscription).</p>
        <p>La formation débutera le matin à 9h00 et se terminera à 17h30 (pause déjeuner 1h30).
            Pensez à vous munir de vêtement ample pour les cours pratiques l'après midi ainsi que de maillot de bain et de sandale. </p>
        <p><strong>Merci de me contacter au +337.50.06.21.02 pour complément d'information, si besoin.</strong></p>
    </article>


    {% include 'main/facebook.html.twig' %}
{% endblock %}

{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}
