{% extends 'layout.html.twig' %}

{% block titre %}Calendrier formation Ayurveda Lyon{% endblock %}
{% block content %}
    <div id="banner">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23B39DDB&ctz=Europe%2FParis&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&showNav=1&src=Y2xhaXJlc2Fzc2VsbGFAZ21haWwuY29t&src=ZGQ0OTk2YTM2ODY3NzNhNzQ4NzIxM2ZlNDc5MzRjY2Q1ZWQ5ZGQ4ZmZmMzUzYTNhMGVmNGNlODAyODU0ZjQ4Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237CB342&color=%239E69AF" style="border-width:0" width="100%" height="467" frameborder="0" scrolling="no"></iframe>
        <article>
            <h1>Calendrier et conditions de formations</h1>
            <p>Vous trouverez ici, les dates des prochains modules de formation à l'<a href="ayurveda">Ayurveda</a>.<br/></p>
            <a href="formation-ayurveda" class="btn">Voir le plan de formation</a>
        </article>
    </div>
    <div id="ban">
        <article>
            <h2>Conditions et coût de la formation</h2>
            <p>Les formations sont sur 2 modules de 3 jours ou 7 jours consécutifs et ouvertes aux débutants/ particuliers et professionnels.</p>
            <ul>
                <li>Stage niveau 1 au Massage « Abyangha Basic" 250€ le week-end</li>
                <li>Stage niveau 2 au Massage “ Abyangha Basic” 250€ le week-end</li>
                <li>Stage niveau 1 et 2 (7 jours) massage "Abyangha Basic" 625€ incluant le diplôme en fin de formation.</li>
            </ul>
        </article>
    </div>

    <article class="content">
        <p>Les formations sont sur <strong>2 modules OBLIGATOIRES de 3 ou 7 jours consécutifs</strong> ( soit ​3​ jours par mois,
            vendredi-samedi​-dimanche ​ou samedi-dimanche​-lundi​ ou encore lundi-mardi​-mercredi​, soit ​6​ jours ​pendant les vacances
            scolaires​ ou période estivale (JUIN/JUILLET) : de 9h30 à 18h00). Un <strong>acompte de 150€</strong> devra être
            accompagné de votre <a href="/pdf/FicheInscriptionFormation.pdf" target="_blank"><strong>fiche d’inscription</strong>
            </a> pour le module 2 à télécharger sur le site ou un <strong>acompte de 250€ pour la formation de 7 jours.</strong></p>
        <p>Merci de la remplir et la renvoyez au moins 15 jours avant la formation. <br/>
            Un support pédagogique est remis à tous les stagiaires ainsi qu’un certificat par l’organisme accueillant la formation.</p>
        <p>Il est impératif de <a href="/pdf/FicheInscriptionFormation.pdf" target="_blank"><strong>s’inscrire</strong></a> pour
            accéder aux formations. Vous avez la possibilité de réserver les dates pour les modules 1 et 2 les mois vous convenant
            en consultant le planning des formations affiché pour l’année sur le site.</p>
        <p>Limité de 3/6 personnes maximum : il est tenu compte de l’ordre d’inscription. </p>
        <p>Pour toutes demandes ou questions <a href="massage-domicil-lyon">contactez moi</a> !</p>
    </article>


    {% include 'main/facebook.html.twig' %}
{% endblock %}

{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}
