{% extends 'layout.html.twig' %}

{% block titre %}demonstration massage rhone-alpes, demo pratique aurveda : Ayurveda concept{% endblock %}
{% block content %}
    <h1>Ev&eacute;nementiels</h1>
    {% include 'main/facebook.html.twig' %}
    <ul data-orbit data-options="animation:fade;
                  pause_on_hover:false;
                  animation_speed:200;
                  navigation_arrows:false;
                  bullets:true;
                  timer: true;">
            <li>
                <img src="/images/diapo/demo/35.jpg" alt="masseur lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/36.jpg" alt="ayurveda lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/37.jpg" alt="detente lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/38.jpg" alt="bien etre lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/39.jpg" alt="masseur lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/40.jpg" alt="ayurveda lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/41.jpg" alt="detente lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/42.jpg" alt="bien etre lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/43.jpg" alt="masseur lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/44.jpg" alt="ayurveda lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/45.jpg" alt="detente lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/46.jpg" alt="bien etre lyon" />
                <div class="orbit-caption">salon du Festival Bolliwood à Ecully</div>
            </li>
            <li>
                <img src="/images/diapo/demo/1.jpg" alt="masseur lyon" />
                <div class="orbit-caption">salon le Mahana de Lyon Halle Tony Garnier</div>
            </li>
            <li>
                <img src="/images/diapo/demo/3.jpg" alt="bien etre lyon" />
                <div class="orbit-caption">salon le Mahana de Lyon Halle Tony Garnier</div>
            </li>
            <li>
                <img src="/images/diapo/demo/5.jpg" alt="detente lyon" />
                <div class="orbit-caption">salon le Mahana de Lyon Halle Tony Garnier</div>
            </li>
            <li>
                <img src="/images/diapo/demo/6.jpg" alt="masseur lyon" />
                <div class="orbit-caption">>salon le Mahana de Lyon Halle Tony Garnier</div>
            </li>
            <li>
                <img src="/images/diapo/demo/7.jpg" alt="ayurveda lyon" />
                <div class="orbit-caption">salon le Mahana de Lyon Halle Tony Garnier</div>
            </li>
            <li>
                <img src="/images/diapo/demo/8.jpg" alt="bien etre lyon" />
                <div class="orbit-caption">salon le Mahana de Lyon Halle Tony Garnier</div>
            </li>
            <li>
                <img src="/images/diapo/demo/9.jpg" alt="relaxation lyon" />
                <div class="orbit-caption">salon le Mahana de Lyon Halle Tony Garnier</div>
            </li>
            <li>
                <img src="/images/diapo/demo/34.jpg" alt="ayurveda lyon" />
                <div class="orbit-caption">D&eacute;monstration massage cervical</div>
            </li>
            <li>
                <img src="/images/diapo/demo/31.jpg" alt="detente lyon" />
                <div class="orbit-caption">Relaxation du dos</div>
            </li>
            <li>
                <img src="/images/diapo/demo/24.jpg" alt="detente lyon" />
                <div class="orbit-caption">>Massage des trap&egrave;zes</div>
            </li>
            <li>
                <img src="/images/diapo/demo/21.jpg" alt="relaxation lyon" />
                <div class="orbit-caption">Redynamisation des &eacute;nergies du dos</div>
            </li>
            <li>
                <img src="/images/diapo/demo/23.jpg" alt="masseur lyon" />
                <div class="orbit-caption">Fluidification des &eacute;nergies du dos en chass&eacute;-crois&eacute;</div>
            </li>
            <li>
                <img src="/images/diapo/demo/12.jpg" alt="ayurveda lyon" />
                <div class="orbit-caption">D&eacute;contraction musculaire des &eacute;paules</div>
            </li>
            <li>
                <img src="/images/diapo/demo/33.jpg" alt="masseur lyon" />
                <div class="orbit-caption">concepts et cr&eacute;ations Antiqu&rsquo;y Th&eacute;</div>
            </li>
            <li>
                <img src="/images/diapo/demo/25.jpg" alt="masseur lyon" />
                <div class="orbit-caption">concepts et cr&eacute;ations Antiqu&rsquo;y Th&eacute;</div>
            </li>
            <li>
                <img src="/images/diapo/demo/32.jpg" alt="relaxation lyon" />
                <div class="orbit-caption">concepts et cr&eacute;ations dans un centre esth&eacute;tique</div>
            </li>
            <li>
                <img src="/images/diapo/demo/29.jpg" alt="ayurveda lyon" />
                <div class="orbit-caption">concepts et cr&eacute;ations &quot; Les Planches &quot; Albigny/s/sa&ocirc;ne</div>
            </li>
            <li>
                <img src="/images/diapo/demo/27.jpg" alt="bien etre lyon" />
                <div class="orbit-caption">>concepts et cr&eacute;ations &quot; Les Planches &quot; Albigny/s/sa&ocirc;ne</div>
            </li>
            <li>
                <img src="/images/diapo/demo/26.jpg" alt="ayurveda lyon" />
                <div class="orbit-caption">concepts et cr&eacute;ations &quot; Les Planches &quot; Albigny/s/sa&ocirc;ne</div>
            </li>
        </ul>

    {% include 'main/ban.html.twig' %}

{% endblock %}


