{% extends 'layout.html.twig' %}

{% block titre %}Lyon Ayurveda lyon, Bien être, relaxation Villeurbanne : Ayurveda concept{% endblock %}
{% block content %}
    {% for message in app.session.getFlashBag.get('message') %}
        <h1>Oup's !</h1>
        <p>{{ message }}</p>
        <hr/>
        <p>Utilisez le menu à gauche pour naviguer sur le site,<br/>
        ou <a href="/">cliquez ici</a> pour revenir sur la page d'accueil.</p>
    {% endfor %}
{% endblock %}
{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}


