{% extends 'layout.html.twig' %}

{% block titre %}Ayurveda Rhône-alpes, Bien être, relaxation.{% endblock %}
{% block content %}
    {% for message in app.session.getFlashBag.get('message') %}
        <div id="banner">
            <img src="/images/zen.jpg" alt="massage indien, medecine ayuvedique"/>
            <article>
                <h1>Oup's !</h1>
                <p>{{ message }} </p>
                <a href="{{ app.url_generator.generate('homepage') }}" class="btn">Revenir sur la page d'accueil</a>
            </article>
        </div>

    {% endfor %}
{% endblock %}
{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}


