{% extends 'layout.html.twig' %}

{% block titre %}Fascia bioenergie Rhône.{% endblock %}
{% block content %}
    <div id="banner">
        <iframe width="683" height="467" src="https://www.youtube.com/embed/pVRzBosOZ5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <article>
            <h1>Fascia : définition</h1>
            <p><strong>Fascia d'après l'émission X:enius d'ARTE</strong><br/><br/>
                Les fascias sont partout sous notre épiderme, ils enveloppent nos muscles, nos organes et nos glandes.
                En médecine, ces membranes composées de tissu conjonctif ont longtemps été considérées comme une enveloppe
                sans autre fonction particulière. Mais il semblerait que les fascias soient plus importants pour notre
                santé que ce que nous avons supposé jusqu'à présent.
            </p>
            <a href="fasciatherapie-lyon" class="btn">Découvrir la fasciatherapie</a>
        </article>
    </div>
    <div id="ban">
        <article>
            <h2>Qu’est ce que les <a href="fascia-lyon">Fascias</a>?</h2>
            <p>Les <strong>fascias</strong> (aussi appelé tissus conjonctifs ou aponévroses) représentent <strong>l’ensemble des gaines
                    tissulaires qui enveloppent la majorité des structures du corps</strong> : muscles, nerf, os, vaisseaux sanguins.
                Les fascias séparent et en même temps connectent toutes ces structures entre elles. Au niveau musculaire, chaque
                fibre est enveloppée par des fascias.</p>
            <p>Les fascias « traversent » le muscle comme une toile d’araignée et se rejoignent à l’extrémité pour former les tendons
                qui attachent le muscle à l’os. La structure qui relie l’os au tendon qu’on appelle le périoste est aussi une forme
                de fascia, comme le sont les ligaments qui connectent les os entre eux.</p>
            <p><strong>Muscles et fascias forment un tout.</strong> La qualité des fascias a une grande influence sur l’apparence
                générale du corps. Des fascias de bonne qualité (homogènes, souples, sans adhérences) donnent immédiatement un coup
                de jeune à l’enveloppe corporelle.</p>
        </article>
    </div>

    <article class="content">
        <h3>Rôles des fascias</h3>
        <p>Le fascia est lâche et généralement élastique ce qui lui permet son retour à la normale après la déformation du
            tissu qu’il double.</p>
        <p>Les aponévroses sont moins élastiques et leur élasticité varie selon leur rôle de revêtement, de liaison et de contention.</p>
        <p><strong>La perte d’élasticité des fascias est un signe de vieillissement</strong> ce qui explique nos difficultés à partir d’un certain
            âge à compenser nos problèmes et nous oblige dés lors soit : à travailler pour améliorer notre psychisme et notre
            physique ; soit à prendre des médicaments. Il est à noter que le tissu cicatriciel produit par les fibroplaste est
            un tissu conjonctif dépourvu de fibres élastiques.</p>
        <p>Les fascias ont plusieurs rôles divers et variés mais principalement une fonction de protection parce qu’ils doublent
            les tissus, tapissent et enveloppent tous nos viscères, organes et muscles. Un des rôles de protection les plus
            importantes est celui de la protection du muscle contre lui-même. L’aponévrose de revêtement maintient les contractions
            dans ses limites, leur donne un sens utile et évite les déchirures. D’autre part, elles contrôlent les trop grandes
            tensions et lésions que pourraient entrainer les grosses tractions.</p>
        <p>Les fascias ont un rôle de protection, revêtement et de support mais aussi de séparation anatomique et fonctionnelle,
            coordination, d’unité biomécanique, circulatoire, métabolique, biochimique, psychosomatique et énergétique.</p>
    </article>


{% endblock %}
{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}


