{% extends 'layout.html.twig' %}

{% block titre %}Lyon fasciathérapie Lyon.{% endblock %}
{% block content %}
    <div id="banner">
        <img src="/images/fascia.jpg" alt="massage indien, medecine ayuvedique"/>
        <article>
            <h1><a href="fascia-lyon">Fasciathérapie</a></h1>
            <p>Grâce à la pulsologie, le thérapeute va essayer de comprendre la cause de ce qui arrive qu’elle soit physique ou psychique.
                L’écoute de la pulsologie est un moyen fiable, rapide et efficace, pour le diriger vers la zone responsable.
                Il suffit d’écouter ce qui se passe au niveau des artères. La où le sang n’arrive pas, la maladie s’installe.
                C’est pour cela que si nous libérons le sang, la maladie s’en va.</p>
            <a href="fascia-lyon" class="btn">Qu'est-ce que les fascia ?</a>
        </article>
    </div>
    <div id="ban">
        <article>
            <h2>Fasciabioénergie</h2>
            <p>La Fasciabioénergie est une technique de soin similaire à la Fasciathérapie. <strong>La différence réside dans le fait que
                    le praticien agit sur les tissus du corps (les fascias) et prend en compte l'énergétique du corps (les centres
                    énergétiques et les méridiens), d'ou le terme Fasciabioénergie.</strong> En effet le corps est constitué de matière et d'énergie
                et il est insuffisant de traiter uniquement l'aspect physique pour résoudre un déséquilibre tissulaire.</p>
            <p>Le corps imprime, sous forme de nœuds physiques et mentaux, tout ce que l'être humain vit de traumatique. Les nœuds
                tissulaires créent des blocages qui entraînent douleurs, maux, maladies, problèmes psychosomatiques. Le praticien
                libère les nœuds tissulaires, donc les blocages et soulage le corps pour un bien-être retrouvé.</p>
            <p>La Fasciabioénergie a pour objectif le retour à la santé.</p>
        </article>
    </div>
    <article class="content">
        <h3>Principe de la fasciathérapie</h3>
        <p><strong>La Fasciathérapie s’inscrit dans le courant des thérapies fonctionnelles ou fluidiques qui sollicitent les forces
                d’autorégulation de l’organisme.</strong> Son action repose sur l’association d’un toucher symptomatique, orienté vers la
            normalisation des déséquilibres tissulaires, articulaires, crâniens et viscéraux, et d’un toucher relationnel, qui
            améliore l’efficacité du geste thérapeutique en répondant à la demande profonde du corps. La main sollicite les
            mécanismes de modulation tonique et psychotonique, rythmicité interne au cœur des processus de régulation de l’organisme
            et d’adaptation de la personne. Une approche vasculaire complète le soin manuel, la pulsologie, qui agit sur les
            liquides du corps et notamment sur la qualité pulsatile des artères et de la microcirculation.</p>
    </article>


{% endblock %}
{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}


