{% extends 'layout.html.twig' %}

{% block titre %}Fascia bioenergie Rhône.{% endblock %}
{% block content %}
    <div id="banner">
        <iframe width="683" height="467" src="https://www.youtube.com/embed/pVRzBosOZ5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <article>
            <h1>Fascia : définition</h1>
            <p><strong>Fascia d'après l'émission X:enius d'ARTE</strong><br/><br/>
                Les fascias sont partout sous notre épiderme, ils enveloppent nos muscles, nos organes et nos glandes.
                En médecine, ces membranes composées de tissu conjonctif ont longtemps été considérées comme une enveloppe
                sans autre fonction particulière. Mais il semblerait que les fascias soient plus importants pour notre
                santé que ce que nous avons supposé jusqu'à présent.
            </p>
            <a href="fasciatherapie-lyon" class="btn">Découvrir la fasciatherapie</a>
        </article>
    </div>
    <div id="ban">
        <article>
            <h2>Qu’est ce que les <a href="fascia-lyon">Fascias</a>?</h2>
            <p>Les <strong>fascias</strong> (aussi appelé tissus conjonctifs ou aponévroses) représentent <strong>l’ensemble des gaines
                    tissulaires qui enveloppent la majorité des structures du corps</strong> : muscles, nerf, os, vaisseaux sanguins.
                Les fascias séparent et en même temps connectent toutes ces structures entre elles. Au niveau musculaire, chaque
                fibre est enveloppée par des fascias.</p>
            <p>Les fascias « traversent » le muscle comme une toile d’araignée et se rejoignent à l’extrémité pour former les tendons
                qui attachent le muscle à l’os. La structure qui relie l’os au tendon qu’on appelle le périoste est aussi une forme
                de fascia, comme le sont les ligaments qui connectent les os entre eux.</p>
            <p><strong>Muscles et fascias forment un tout.</strong> La qualité des fascias a une grande influence sur l’apparence
                générale du corps. Des fascias de bonne qualité (homogènes, souples, sans adhérences) donnent immédiatement un coup
                de jeune à l’enveloppe corporelle.</p>
        </article>
    </div>

    <article class="content">
        <h3>Rôles des fascias</h3>
        <p>Le fascia est lâche et généralement élastique ce qui lui permet son retour à la normale après la déformation du
            tissu qu’il double.</p>
        <p>Les aponévroses sont moins élastiques et leur élasticité varie selon leur rôle de revêtement, de liaison et de contention.</p>
        <p><strong>La perte d’élasticité des fascias est un signe de vieillissement</strong> ce qui explique nos difficultés à partir d’un certain
            âge à compenser nos problèmes et nous oblige dés lors soit : à travailler pour améliorer notre psychisme et notre
            physique ; soit à prendre des médicaments. Il est à noter que le tissu cicatriciel produit par les fibroplaste est
            un tissu conjonctif dépourvu de fibres élastiques.</p>
        <p>Les fascias ont plusieurs rôles divers et variés mais principalement une fonction de protection parce qu’ils doublent
            les tissus, tapissent et enveloppent tous nos viscères, organes et muscles. Un des rôles de protection les plus
            importantes est celui de la protection du muscle contre lui-même. L’aponévrose de revêtement maintient les contractions
            dans ses limites, leur donne un sens utile et évite les déchirures. D’autre part, elles contrôlent les trop grandes
            tensions et lésions que pourraient entrainer les grosses tractions.</p>
        <p>Les fascias ont un rôle de protection, revêtement et de support mais aussi de séparation anatomique et fonctionnelle,
            coordination, d’unité biomécanique, circulatoire, métabolique, biochimique, psychosomatique et énergétique.</p>
        <h3>Qu'est ce que les mémoires cellulaires ?</h3>
        <p>La "mémoire cellulaire" est intimement liée à la génétique, elle correspond à la capacité du corps à stocker
            des éléments tels que les souvenirs inconscients dans toutes les cellules de notre corps et pas uniquement dans
            notre cerveau.</p>
        <p>Tout ce que nous vivons s'imprime dans dans nos mémoires cellulaires.</p>
        <p>La capacité de la mémoire cellulaire est immense.</p>
        <p>Elle est capable de conserver - malgré notre mental - toutes les informations et tout au long de notre vie à
            travers des schémas répétitifs 'réveillés' par des situations et des événements de notre vie quotidienne. Ces
            informations peuvent être anciennes, ancestrales, transgénérationnelles et prénatales (c'est -à- dire inscrites
            dans les gènes de nos parents biologiques particulièrement notre mère puisque c'est dans son ventre que le fœtus
            sera en gestation jusqu'à la naissance).</p>
        <p><strong>LA BONNE NOUVELLE  EST QUE NOUS POUVONS CHANGER ET CE GRÂCE À L'ÉPIGÉNÉTIQUE !!</strong></p>
        <p>Les informations contenues dans nos gênes sont à près de 60% en lien avec notre passé. Outre les caractéristiques
            physiques et psychologiques qui vont déterminer notre caractère et notre aspect physique, la plus grande
            partie des ces informations ne nous appartiennent pas . Certes, elles constituent notre patrimoine génétique
            mais restent étrangères à qui nous sommes. Parallèlement, elles vont nous façonner jusqu'à nous transformer
            dans nos comportements et attitudes plus  souvent en nous éloignant de notre vrai MOI (notre  enfant intérieur).
        <p>C'est en cela que l'épigénétique joue un rôle déterminant dans l'expression d'un gène grâce à son activation
            afin de se sentir tout à fait en accord avec nos goûts, aspirations, rêves et désirs. En somme que je suis
            véritablement et non les conséquences de mon histoire et de mon passé</p>
        <p>La fasciabioénergie est la méthodologie qui va initier la libération des informations et notamment de la mémoire
            prénatale.</p>
        <p>Les séances de fasciabioénergie vont libérer dans la mémoire cellulaire des organes, viscères et systèmes les
            informations limitantes et traumatiques stockées et également dans les zones réflexes de la colonne vertébrale
            depuis notre conception jusqu'à notre naissance.</p>
        <p>Pour ÊTRE véritablement,. Il est essentiel d'avoir conscience de nettoyer nos mémoires cellulaire afin de mieux
            être aligné, centré et ancré.</p>
        <p>Nous n'imaginons pas les générations entières qui se sont succédées et qui ont eu à supporter le poids de
            cultures et traditions ainsi que les paradigmes liés à notre histoire et pour beaucoup toute leur vie jusqu'à
            leur mort n'ont pas su qui elle ou il était comme dit l'expression se sentir "à côté de la plaque" où "á côté
            de ses pompes".</p>
        <p> Cela implique tous les comportements et attitudes nourrient par les peurs, ainsi que les réactions
            découlant de cette non prise de conscience afin de faire un travail d'introspection psychologique ou
            psycho-émotionelle pour libérer ces traumastismes conscients ou inconscients afin d'exprimer notre authenticité,
            notre singularité. Il est temps pour nous de casser ces schémas et d'arrêter de les reproduire.</p>
    </article>


{% endblock %}
{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}


