{% extends 'layout.html.twig' %}

{% block titre %}Lyon formation ayurveda{% endblock %}
{% block content %}
    <h1>Plan de formation des massages ayurvédiques</h1>
    <div id="horizontalTab">
        <ul>
            <li><a href="#tab-1">1er jour</a></li>
            <li><a href="#tab-2">2e jour</a></li>
            <li><a href="#tab-3">3ème jour</a></li>
            <li><a href="#tab-4">4ème jour</a></li>
        </ul>
        <div id="tab-1">
            <h2>Matinée</h2>
            <p>Qu’est ce que l’Ayurvéda ?<br/>
                Histoire et théorie des Rishis sur la médecine ancestrale indienne.<br/>
                Explication avec support sur l’origine de l’Ayurvéda.</p>
            <h2>Après-midi</h2>
            <p>Cours pratique sur l’enchainement des massages ayurvédiques,
                Ouverture des chakras,
                Dérouler préparation du massage partie pratique
                Exercice de Relaxation pour relâcher les tensions mentales et nerveuses,
                Etirement et rotation des articulations.<br/>
                Enchainement massage face :</p>
            <ul>
                <li>Etirement et rotation des jambes pour dégager les énergies stagnantes dans les articulations,</li>
                <li>Rotation des chevilles avant-arrière,</li>
                <li>Massages des pieds, jambes et cuisses.</li>
            </ul>
            <a href="calendrier-formation">Consultez l'agenda des formations !</a>
        </div>
        <div id="tab-2">
            <h2>Matinée</h2>
            <p>Aspect pratique hygiène de vie proposée par l’Ayurvéda pour le maintien de la vitalité, santé et longévité :</p>
            <ul>
                <li>Hygiène alimentaire,</li>
                <li>Hygiène mentale et exercice physique (yoga-méditation-jeun-relaxation)</li>
                <li>Hygiène quotidienne par les massages ayurvédique pour aider à la régulation du bon fonctionnement de la
                    physiologie, biologie et psychologie humaine.</li>
            </ul>
            <h2>Après-midi</h2>
            <p>Cours pratiques</p>
            <ul>
                <li>massage spécifique du ventre,</li>
                <li>massage relaxant des bras et digito-pression sur les mains,</li>
                <li>modelage du visage (shirotchampi)</li>
            </ul>
            <p>Fin de journée récapitulation de l’apprentissage du massage Abyangha toute la partie avant du corps des pieds jusqu’à la tête.</p>
            <a href="calendrier-formation">Consultez l'agenda des formations !</a>
        </div>
        <div id="tab-3">
            <h2>Matinée</h2>
            <p>Comprendre l’aspect morphopsychologique des caractéristiques physiques appelées Prakriti.</p>
            <ul>
                <li>Suis-je VATA, PITTA, KAPHA ?</li>
                <li>Qu’est ce que le tridosha ?</li>
                <li>Caractéristiques spécifiques de chaque Prakriti et Vikriti.</li>
            </ul>
            <h2>Après-midi</h2>
            <p>Cours pratiques : partie du dos</p>
            <ul>
                <li>Pieds, jambes, dos et tête</li>
                <li>Réflexologie plantaire, technique circulaire des jambes et des cuisses</li>
                <li>Drainage</li>
            </ul>
            <a href="calendrier-formation">Consultez l'agenda des formations !</a>
        </div>
        <div id="tab-4">
            <h2>Matinée</h2>
            <p>Synthèse des cours aspect théorique avec petite évaluation (questionnaire).<br/>
                Les bienfaits curatifs des massages ayurvédiques :<br/>
                - au niveau de la médecine, bien-être et santé.</p>
            <h2>Après-midi</h2>
            <p>Exercice du massage Abyangha global pour chaque stagiaire.<br/>
                <strong>Cours pratique</strong></p>
            <ul>
                <li>Accu-pression le long des méridiens du dos,</li>
                <li>massage crânien</li>
            </ul>
            <a href="calendrier-formation">Consultez l'agenda des formations !</a>
        </div>
    </div>
    {% include 'main/ban.html.twig' %}
{% endblock %}

{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.orbit.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
    <script src="/js/foundation/foundation.reveal.js"></script>
    <script src="/js/jquery.responsiveTabs.min.js"></script>
    <script src="/js/ayurveda.js"></script>
{% endblock %}
