{% extends 'layout.html.twig' %}

{% block titre %}Lyon Ayurveda lyon, Bien être, relaxation Villeurbanne : Ayurveda concept{% endblock %}
{% block content %}
    <h1>Le bien-être par l'<a href="ayurveda">Ayurveda</a></h1>
    <h2>Bienvenue sur le site Ayurveda concept !!</h2>
    <p>Musique : Gayatri Mantra - Pranayam Mantra - 2'37</p>
    <audio controls autoplay="autoplay">
        <source src="/mp3/mantra.mp3" />
        <p class="warning">Le format *.mp3 n'est pas pris en charge par votre navigateur</p>
    </audio>
    <h3><a href="ayurveda">A Y U R V E D A</a></h3>
    <img src="/images/shiva1.jpg" name="img" width="110" height="127" class="right th" alt="massage, ayurveda, massage, lyon, 69, rhone-alpes"/>
    <em>Les grands Rishis du Sri-Lanka, ont perçu les lois fondamentales de la nature qui gèrent la physiologie humaine
        et sont organisés en un système naturel de beauté, de bien-être et de santé. Ils nous léguent un art de vivre tiré
        des "Véda", textes vieux de plus de 4000 ans utilisés dans l'Inde ancienne comme antique médecine (mythologie
        indienne, "Samhita Charaka"). Aujourd’hui l’<strong>Ayurveda</strong> est reconnue par l’Organisation mondiale de la Santé (OMS),
        dans le monde entier pour son authenticité et son efficacité. Son histoire riche et variée est en grande partie
        entrelacée avec la mythologie indienne qui prend ses racines dans le « Charaka Samhita » (science ayurvédique)
        expliquant comment le corps est constitué de cellule  et énumère les 20 organismes microscopiques différents qui
        peuvent causer les déséquilibres physiologiques.
    </em>
    {% include 'main/facebook.html.twig' %}
    {% include 'main/ban.html.twig' %}
{% endblock %}


