{% extends 'layout.html.twig' %}
{% block titre %}Ayurveda concept : bien être, relaxation Martinique.{% endblock %}

{% block content %}
    <div id="banner">
        <img src="/images/massage.jpg" alt="massage indien, medecine ayuvedique"/>
        <article>
            <h1>Ayurveda</h1>
            <p>Les grands Rishis du Sri-Lanka, ont perçu les lois fondamentales de la nature qui gèrent la physiologie
                humaine. Art de vivre tiré des "Véda", textes vieux de plus de 4000 ans utilisés dans l'Inde ancienne
                comme antique médecine (mythologie indienne, "Samhita Charaka"). Aujourd’hui l’Ayurveda est reconnu par
                l’OMS), dans le monde entier pour son authenticité et son efficacité.
            </p>
            <a href="ayurveda" class="btn">En savoir +</a>
        </article>
    </div>
    <div id="ban">
        <article>
            <h2>La fasciabioénergie</h2>
            <p>Le corps imprime, sous forme de nœuds physiques et mentaux, tout ce que l'être humain vit de traumatique.
                Les nœuds tissulaires créent des blocages qui entraînent douleurs, maux, maladies, problèmes psychosomatiques.
                Le praticien libère les nœuds tissulaires, donc les blocages et soulage le corps pour un bien-être retrouvé.
            </p>
            <a href="fascia-lyon" class="btn">En savoir +</a>
        </article>
    </div>
    <div id="blocs">
        <dl class="gold">
            <dd><img src="/images/icon/formation.png" alt="formation massage ayuvedique lyon"/></dd>
            <dt>Formations</dt>
            <dd>Découvez les différents plan de formation proposés</dd>
            <dd><a href="{{ app.url_generator.generate('formationayurveda') }}">En savoir +</a></dd>
        </dl>
        <dl>
            <dd><img src="/images/icon/tarifs.png" alt="tarif massage ayuvedique lyon"/></dd>
            <dt>Tarifs</dt>
            <dd>Découvrez les forfaits, tarifs, abonnements, réductions </dd>
            <dd><a href="{{ app.url_generator.generate('tarifmassagelyon') }}">En savoir +</a></dd>
        </dl>
        <dl>
            <dd><img src="/images/icon/photos.png" alt="photo massage ayuvedique lyon"/></dd>
            <dt>Relaxation</dt>
            <dd>Retrouvez ici les infos pratiques</dd>
            <dd><a href="{{ app.url_generator.generate('relaxationlyon') }}">En savoir +</a></dd>
        </dl>
    </div>

    {% include 'main/facebook.html.twig' %}

{% endblock %}

{% block js %}{% endblock %}
