{% extends 'layout.html.twig' %}

{% block titre %}Ayurveda concept : kapha, regime ayurvedique kapha, alimentation.{% endblock %}
{% block content %}
    <div id="banner">
        <img src="/images/kapha.jpg" alt="massage indien, medecine ayuvedique"/>
        <article>
            <h1>KAPHA</h1>
            <p>Elément  : terre, eau<br />
                Principe  : stabilité, structure<br />
                <strong>FLUIDITE</strong></p>
        </article>
    </div>
    <div id="ban">
        <article>
            <h2>Etes vous de type Kapha ?</h2>
            <p>OUI, SI VOUS AVEZ UNE CORPULENCE FORTE, AVEC UNE ENERGIE MOYENNE MAIS CONSTANTE ET QUE VOUS ÊTES CALME, TENDRE ET
                TOLERANT. <br /><br />Vous avez également tendance à être sédentaire avec une intériorisation du stress, une nature possessive
                et/ou dépendante. Vous avez une digestion souvent lente.</p>
        </article>
    </div>

    <article class="content">
        <h3>Les facteurs suivants peuvent déséquilibrer Kapha</h3>
        <p>Manger trop d'aliment sucrés, lourds, gras, froids ainsi que trop de produits laitiers. Dormir trop longtemps. Temps
            froid, humide, neigeux. Trop sédentaire.</p>
        <h3>L'excès de Kapha provoque : </h3>
        <p>Une peau grasse et acnéique, une hypersecrétion séborrhée, des pores dilatés, de la cellulite et une tendance l'obésité.<br />
            Pour préserver et entretenir la beauté de votre peau, il est recommandé :</p>
        <ul>
            <li>d'avoir une activité régulière et maintenue</li>
            <li>de pratiquer des sports ou des activités physiques dynamiques</li>
            <li>de vous lever tôt</li>
            <li>de manger chaud et légèrement épicé</li>
        </ul>
        <p>LAKSHMI a élaboré une ligne idéale de produits adaptés à votre peau età votre constitution. Riches en huiles
            essentielles purifiantes et antiseptiques, ils sont stimulants, , nettoyants et vivifiants.</p>
        <h3>Indications sur les aliments en relation avec la constitution Kapha</h3>
        <img src="/images/chivaregime.jpg" class="right th" alt="regime, ayurveda, medecine, massage, lyon"/>
        <p>L'alimentation et le mode de vie sont les fondations de l'AYURVEDA. La plupart des problèmes de disfonctionnement
            métabolique sont du à une mauvaise alimentation. Une fois que vous avez appris à manger et vivre avec votre DOSHA,
            vous pourrez éliminer VIKRURTI (déséquilibre) et vivre en harmonie. L'alimentation à pour but de fournir l'énergie
            (prana) dont vous avez besoin et une alimentation associée vous fait garder un poid équilibré et vous donne santé,
            force et longévité.</p>
        <p>D'après la philosophie ayurvédique, la santé et le bien-être dépendent du bon fonctionnement du système digestif
            qui doit fournir de la nourriture au corps. Cela dépend non seulement du choix des aliments mais aussi de la
            façon dont ils sont transformés et assimilés par l'organisme.</p>
        <h4>LEGUMES</h4>
        <table >
            <thead>
            <tr>
                <th class="text-center">NON</th>
                <th class="text-center">OUI</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td >Doux</td>
                <td >Piquants</td>
            </tr>
            <tr>
                <td >Juteux</td>
                <td >Amers</td>
            </tr>
            <tr>
                <td >Pommes de terre (douce)</td>
                <td >Asperges</td>
            </tr>
            <tr>
                <td >Tomates</td>
                <td >Navets</td>
            </tr>
            <tr>
                <td >Courgettes</td>
                <td >Choux de Bruxelles</td>
            </tr>
            <tr>
                <td ></td>
                <td >Choux</td>
            </tr>
            <tr>
                <td ></td>
                <td >Chou-fleur</td>
            </tr>
            <tr>
                <td ></td>
                <td >Carottes</td>
            </tr>
            <tr>
                <td></td>
                <td >Céleri</td>
            </tr>
            <tr>
                <td ></td>
                <td >Aubergines</td>
            </tr>
            <tr>
                <td ></td>
                <td >Ail</td>
            </tr>
            <tr>
                <td ></td>
                <td >Salade</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td >Laitue</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td >Champignons</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td >Abelmosque</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td >Oignons</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td >Persil</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td >Petit pois</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td >Poivrons</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td >Pommes de terre (blanches)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Radis</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td >Epinards</td>
            </tr>
            <tr>
                <td >&nbsp;</td>
                <td>Bourgeons</td>
            </tr>
            </tbody>
        </table>
        <h4>FRUITS</h4>
        <table >
            <tr>
                <td >Doux</td>
                <td >Pommes</td>
            </tr>
            <tr>
                <td >Aigre</td>
                <td >Abricots</td>
            </tr>
            <tr>
                <td >Avocats</td>
                <td >Baies</td>
            </tr>
            <tr>
                <td >Banane</td>
                <td >Cerises</td>
            </tr>
            <tr>
                <td >Noix de coco</td>
                <td >Myrtille</td>
            </tr>
            <tr>
                <td >Figues (frais)</td>
                <td >Fraises (sec)</td>
            </tr>
            <tr>
                <td >Pamplemousse</td>
                <td >Mangue</td>
            </tr>
            <tr>
                <td >Raisin</td>
                <td >Pêches</td>
            </tr>
            <tr>
                <td >Citrons</td>
                <td >Poire</td>
            </tr>
            <tr>
                <td >Melon</td>
                <td >Kaki</td>
            </tr>
            <tr>
                <td >Orange</td>
                <td >Grenadier</td>
            </tr>
            <tr>
                <td >Papaye</td>
                <td >Prunes (sèches)</td>
            </tr>
            <tr>
                <td >Ananas (aigre)</td>
                <td >Raisin sec</td>
            </tr>
            <tr>
                <td >Prunes</td>
                <td ></td>
            </tr>
        </table>
        <h4>CEREALES</h4>
        <table >
            <tr>
                <td >Avoine (cuite)</td>
                <td >Orge</td>
            </tr>
            <tr>
                <td >Riz (intégral) </td>
                <td >Maïs</td>
            </tr>
            <tr>
                <td >Riz (blanc)</td>
                <td >Millet</td>
            </tr>
            <tr>
                <td>Blé</td>
                <td >Avoine (sèche)</td>
            </tr>
            <tr>
                <td ></td>
                <td >Riz basmati</td>
            </tr>
            <tr>
                <td ></td>
                <td >Seigle (en petites quantités)</td>
            </tr>
        </table>
        <h4>ŒUFS – VIANDES - POISSONS</h4>
        <table >
            <tr>
                <td >Bœuf</td>
                <td >Viande foncée de poulet ou dinde</td>
            </tr>
            <tr>
                <td >Agneau</td>
                <td >Œufs</td>
            </tr>
            <tr>
                <td >Cochon</td>
                <td>Lapin</td>
            </tr>
            <tr>
                <td>Poisson</td>
                <td >Crevettes</td>
            </tr>
            <tr>
                <td ></td>
                <td>Daim</td>
            </tr>
            <tr>
                <td ></td>
                <td >Cerf</td>
            </tr>
        </table>
        <h4>LEGUMES</h4>
        <table>
            <tr>
                <td>Tous les légumes sauf les haricots, les haricots de soya et les lentilles noires</td>
            </tr>
        </table>
        <h4>NOIX, NOISETTES, CACAHUETES, ANACARDIER, COCO, etc……</h4>
        <table>
            <tr>
                <td >Absolument à éviter</td>
            </tr>
        </table>
        <h4>GRAINES</h4>
        <table >
            <tr>
                <td >
                    Aucune graine, sauf les graines de tournesol et de courge</td>
            </tr>
        </table>
        <h4>EDULCORANTS</h4>
        <table >
            <tr>
                <td>Aucun édulcorant sauf le miel brut</td>
            </tr>
        </table>
        <h4>ASSAISONNEMENTS</h4>
        <table >
            <tr>
                <td >On peut utiliser toutes les épices, sauf le sel</td>
            </tr>
        </table>
        <h4>LAITAGES</h4>
        <table >
            <tr>
                <td>Eviter les laitages, sauf le ghi et le lait de chèvre</td>
            </tr>
        </table>
        <h4>HUILES</h4>
        <table >
            <tr>
                <td >Aucun huile, sauf l’huile d’amande, de tournesol ou de maïs en petite quantité</td>
            </tr>
        </table>
        <h4>CAFE, ALCOOL, FORTEMENT ALCOOLISE</h4>
        <table >
            <tr>
                <td>Aggravent tous les DOSHA</td>
            </tr>
        </table>
    </article>


{% endblock %}

{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}
