{% extends 'layout.html.twig' %}

{% block titre %}animations ayurveda lyon, démonstration-massage ayurvédic rhone : Ayurveda concept{% endblock %}
{% block content %}
    <h1>Contact</h1>
    <p>Vous remarquerez en visitant mon site et les photos que je me déplace dans diverses lieux pour des animations
        démonstration-massage ayurvédic. <br />
    Je veux développer de plus en plus ce concept d'une part pour amener une animation et aussi un concept évenementiel
        qui cadre bien avec différente ambiance que ce soit dans :</p>
    <img src="/images/ayurveda_berkeley_ayurvedic.gif" class="left th" alt="demonstration, massage, lyon, 69, ayurveda" />
    <ul>
        <li> les bars, les pubs, clubs privés,</li>
        <li> restaurants-terrasse, complexes détentes,</li>
        <li> salons bio et bien Etre, saunas,</li>
        <li> soirées privées, soirées anniversaires,</li>
        <li> comités d'entreprises.</li>
    </ul>
    <p>d'autre part permettre à tous de cotoyer de près le Bien Etre dans sa globalité. Donc je vous invite à me contacter
        quelques soit le projet mis en place pour ce type d'animations.</p>
    <h2>Une question? un rendez-vous? Contactez-moi</h2>
    {{ form_widget() }}
        <fieldset>
            <form method="post" action="" enctype="multipart/form-data" >
                        <label for="prenom" >Nom/Prénom :</label><br/>
                        <input name="prenom" id="prenom" />
                        <label for="mail">Mail* :</label><br/>
                        <input name="mail" id="mail" style="width:155px" />
                <div style="clear:both">Message :<br />
                    <textarea name="message" style="width:310px; font-family:Arial, Helvetica, sans-serif; font-size:11px" rows="8" cols="60" ></textarea>
                    <div style="width:320px; padding-top:5px;" align="left">
                        <input name="envoyer" value="Poster mon message" type="submit" style="background:#ff4800; border:none; width:312px; color:#fff; cursor:pointer; margin:0; padding:0" />

                    </div></div>
            </form>
        </fieldset>
    <a href="https://www.facebook.com/AYURVEDACONCEPT"><img src="/images/Banniere-lien-fb.png" alt="ayurveda concept sur facebook" border="0"/></a>
{% endblock %}


