{% extends 'layout.html.twig' %}

{% block titre %}Ayurveda concept : espace relaxation Sierre, ayurveda Suisse, detente Sierre{% endblock %}
{% block content %}
    <h1>Espace Ayurvédique</h1>
    <ul data-orbit data-options="animation:fade;
                  pause_on_hover:false;
                  animation_speed:200;
                  navigation_arrows:false;
                  bullets:true;
                  timer: true;">
        <li>
            <img src="/images/diapo/espace-massage/1.jpg" alt="masseur Sierre" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/2.jpg" alt="bien etre Suisse" />
            <div class="orbit-caption">Les commodités</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/3.jpg" alt="bien etre lyon" />
            <div class="orbit-caption">Les commodités</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/4.jpg" alt="relaxation Sierre" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/5.jpg" alt="ambiance relaxante" />
            <div class="orbit-caption">Ambiance relaxante Ayurveda</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/7.jpg" alt="ayurveda Suisse" />
            <div class="orbit-caption">Ambiance relaxante Ayurveda</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/6.jpg" alt="masseur lyon" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>


    </ul>
    {% include 'main/ban.html.twig' %}

{% endblock %}

{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.orbit.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
    <script src="/js/foundation/foundation.reveal.js"></script>
    <script src="/js/jquery.responsiveTabs.min.js"></script>
    <script src="/js/ayurveda.js"></script>
{% endblock %}
