{% extends 'layout.html.twig' %}

{% block titre %}Ayurveda concept : espace relaxation lyon, ayurveda villeurbanne, detente lyon{% endblock %}
{% block content %}
    <h1>Espace Ayurv&eacute;dique</h1>
    <ul data-orbit>
        <li>
            <img src="/images/diapo/espace-massage/14.jpg" alt="espace massage" />
            <div class="orbit-caption">Arriv&eacute;e Charpenne</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/11.jpg" alt="pancarte" />
            <div class="orbit-caption">Devanture Ayurveda-concept</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/5.jpg" alt="ambiance relaxante" />
            <div class="orbit-caption">Ambiance relaxante Ayurveda</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/7.jpg" alt="ayurveda lyon" />
            <div class="orbit-caption">Ambiance relaxante Ayurveda</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/6.jpg" alt="masseur lyon" />
            <div class="orbit-caption">Espace bien-&ecirc;tre Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/9.jpg" alt="relaxation lyon" />
            <div class="orbit-caption">Espace bien-&ecirc;tre Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/1.png" alt="masseur lyon" />
            <div class="orbit-caption">Espace bien-&ecirc;tre Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/4.jpg" alt="relaxation lyon" />
            <div class="orbit-caption">Espace bien-&ecirc;tre Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/10.jpg" alt="detente lyon" />
            <div class="orbit-caption">Espace bien-&ecirc;tre Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/15.jpg" alt="detente lyon" />
            <div class="orbit-caption">Espace bien-&ecirc;tre Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/16.jpg" alt="detente lyon" />
            <div class="orbit-caption">Espace bien-&ecirc;tre Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/17.jpg" alt="detente lyon" />
            <div class="orbit-caption">Espace bien-&ecirc;tre Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/18.jpg" alt="detente lyon" />
            <div class="orbit-caption">Espace bien-&ecirc;tre Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/3.jpg" alt="bien etre lyon" />
            <div class="orbit-caption">Les commodit&eacute;s</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/8.jpg" alt="bien etre lyon" />
            <div class="orbit-caption">Les commodit&eacute;s</div>
        </li>
    </ul>
<img src="/images/CARTE-DE-VISITE.jpg" alt="le bien être par l'ayurveda" />

{% endblock %}


