{% extends 'layout.html.twig' %}

{% block titre %}Ayurveda concept : massage bien-etre, detente, rhone-alpes{% endblock %}
{% block content %}
    <h1>Qui suis-je ?</h1>
    <img src="/images/x1pN1mp8dKYgTFSKsLSdLrs4SEkv2UDvKD_J7QU6CTIgmy1zVtWH99_mykAtgmzbSzo2dXYj2N1HOMxPulpM1WrPuJpf77BAfaN3b1ba1D6yOhBHSCLtZozUw.jpg" class="left th" alt="massage, lyon, masseur, 69, ayurveda, concept"/>
    <p>Nom : GAIL<br />
    Prénom : Boris<br />
    Age : 36 ans</p>
    <hr/>
    <h2>Formations professionnelles</h2>
    <p>DIPLOME DE MASSEUR AYURVEDIC professionnel SPECIFIQUE aux TECHNIQUES ANCESTRALES DE &quot;L'AYURVEDA&quot;</p>
    <p>En 2000 j'int&eacute;gre la fonction d'Assistant administratif et commercial
        au sein&nbsp;d' un centre de formation CLAUDIER qui dispensait, &agrave; l'&eacute;poque
        aux professionnels de la Beaut&eacute; et de l'Esth&eacute;tisme, des
        formations aux techniques ancestrales indiennes des massages &quot;AYURVEDA&quot;et
        ce pendant 2 ans. L'entreprise me paiera par la suite&nbsp;les
        formations et j'obtiens le dipl&ocirc;me de masseur ayurv&eacute;dic
        professionnel. </p>
    <p>Le but de l&rsquo;Ayurveda est pr&eacute;cis&nbsp;: rendre
        accessible &agrave; tous la recherche d&rsquo;une harmonie perdue
        avec la nature, leur propre corps, pour atteindre un bien-&ecirc;tre
        global qui va au del&agrave; de la r&eacute;solution des probl&egrave;mes
        esth&eacute;tiques.&nbsp;</p>
    <p>Au cours de cette exp&eacute;rience, je&nbsp;fais une prise
        de conscience majeure de l&rsquo;int&eacute;r&ecirc;t de promouvoir
        une telle culture du bien-&ecirc;tre en occident dans cette civilisation
        du stress. Parce que je suis persuad&eacute; qu&rsquo;elle a son
        importance tant au niveau personnel qu&rsquo;&eacute;conomique et
        permettrait &agrave; notre soci&eacute;t&eacute; de rentrer dans
        le 3&egrave;me mill&eacute;naire avec plus de s&eacute;r&eacute;nit&eacute;.</p>
    <ul>
       <li>DILOME DE MASSEUR AYURVEDIC PROFESSIONNEL (2001)</li>
        <li> DIPLOME spécialisé MASSAGE POINT MARMA (2001)</li>
        <li>DIPLOME spécialisé MASSAGE des Pierres Chaudes (2002)</li>
        <li>Certificat de stage soin esthétique corps (2007)</li>
        <li> Formation en Fascia-Bioénergie (2012 – 2014)</li>
    </ul>
    <div id="myModal" class="reveal-modal" data-reveal>
        <img src="/images/diplomes.jpg" alt="ayurveda concept sur facebook" border="0"/>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    <a data-reveal class="reveal-link">Voir mes diplômes - cliquez ici</a>
    <p>Mon exp&eacute;rience professionnelle est ax&eacute;e particuli&egrave;rement
        dans les domaines de la communication, du relationnel et du commerce.&nbsp;Ce
        qui m'a permis d'acqu&eacute;rir un savoir faire li&eacute; &agrave; mes
        comp&eacute;tences et &nbsp;aptitudes naturelles. </p>
    <h3>Mon objectif :</h3>
    <p>Créer un centre AYURVEDIC à Lyon dans lequel je proposerais les soins ayurvédic, massage bien être,
            salon relaxation, jacuzzi, sauna, salon de thé ayurvédic, espace accueil.</p>
    <h2>Pour me joindre :<strong>&nbsp;06.59.10.48.25</strong></h2>
    <hr/>
    <h3>ACTU :</h3>
        <a href="http://issuu.com/lyonclubbing.com/docs/lyonclubbing_mars/13" target="_blank">
            Ayurveda Concept dans Lyon Clubbing - [+] d'infos
        </a><br />
        <a href="http://bien-etre.bioetbienetre.fr/massage-bien-etre/massage-ayurvedique/ayurveda-concept/s27543.html" target="_blank">
            Ma fiche sur bioetbienetre.fr - [+] d'infos
        </a><br/>
        <a href="http://fr.viadeo.com/fr/profile/boris.gail" target="_blank">
            Mon profil viadeo - [+] d'infos
        </a><br />
    {% include 'main/facebook.html.twig' %}
{% endblock %}


{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.orbit.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
    <script src="/js/foundation/foundation.reveal.js"></script>
    <script src="/js/jquery.responsiveTabs.min.js"></script>
    <script src="/js/ayurveda.js"></script>
{% endblock %}