{% extends 'layout.html.twig' %}

{% block titre %}Ayurveda concept : espace relaxation lyon, ayurveda villeurbanne, detente lyon{% endblock %}
{% block content %}
    <h1>Espace Ayurvédique</h1>
    <ul data-orbit data-options="animation:fade;
                  pause_on_hover:false;
                  animation_speed:200;
                  navigation_arrows:false;
                  bullets:true;
                  timer: true;">
        <li>
            <img src="/images/diapo/espace-massage/14.jpg" alt="espace massage" />
            <div class="orbit-caption">Arrivée Charpenne</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/11.jpg" alt="pancarte" />
            <div class="orbit-caption">Devanture Ayurveda-concept</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/5.jpg" alt="ambiance relaxante" />
            <div class="orbit-caption">Ambiance relaxante Ayurveda</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/7.jpg" alt="ayurveda lyon" />
            <div class="orbit-caption">Ambiance relaxante Ayurveda</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/6.jpg" alt="masseur lyon" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/9.jpg" alt="relaxation lyon" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/1.png" alt="masseur lyon" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/4.jpg" alt="relaxation lyon" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/10.jpg" alt="detente lyon" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/15.jpg" alt="detente lyon" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/16.jpg" alt="detente lyon" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/17.jpg" alt="detente lyon" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/18.jpg" alt="detente lyon" />
            <div class="orbit-caption">Espace bien-être Ayurvedic</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/3.jpg" alt="bien etre lyon" />
            <div class="orbit-caption">Les commodités</div>
        </li>
        <li>
            <img src="/images/diapo/espace-massage/8.jpg" alt="bien etre lyon" />
            <div class="orbit-caption">Les commodités</div>
        </li>
    </ul>
    {% include 'main/ban.html.twig' %}

{% endblock %}


