{% extends 'layout.html.twig' %}

{% block titre %}Lyon Ayurveda Lyon, massage Abyangha.{% endblock %}
{% block content %}
    <div id="banner">
        <img src="/images/legal.jpg" alt="massage indien, medecine ayuvedique"/>
        <article>
            <h1>Mentions légales</h1>
            <p><strong>Identification de l'éditeur :</strong> Ayurveda concept</p>
            <p><strong>Directeur de la publication :</strong> Maurice Gail</p>
            <h2>Hébergeur</h2>
            <p>Ce site est hébergé par O.V.<br/>
                2 rue Kellermann - 59100 Roubaix - France
            </p>
            <h2>Design, conception, référencement</h2>
            <p>Design et développements réalisés par <a href="https://www.usine-creative.com/" target="_blank">Usine créative</a></p>
        </article>
    </div>
    <div id="ban">
        <article>
            <h2>Cookies</h2>
            <p>Des données non personnelles sont collectées lors de votre navigation, par un système de cookies, à des fins statistiques.
                Ces fichiers stockés sur votre ordinateur permettent d'enregistrer les informations relatives à votre navigation
                sur le site ayurveda-concept.com (pages consultées, date et l'heure de consultation). En aucun cas ces
                données ne nous permettent de vous identifier, elles ont pour seul but de nous aider à vous offrir un accès
                facilité aux services proposés et à améliorer ce site. Vous pouvez vous opposer à l'enregistrement de cookies
                en configurant votre navigateur selon les modalités détaillées sur le site de la Commission Nationale Informatique
                et Libertés.
            </p>
            <a href="https://www.cnil.fr/" target="_blank" class="btn">www.cnil.fr</a>
        </article>
    </div>
    <article class="content">
        <a name="privacy"></a>
        <h3>Traitement des données à caractère personnel</h3>
        <p>Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et
            aux libertés, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données
            qui vous concernent. Pour demander une modification, rectification ou suppression des données vous concernant,
            il vous suffit d'envoyer un courrier par voie électronique ou postale à la Direction de l'information légale
            et administrative en justifiant de votre identité.</p>
        <p>Les informations recueillies dans le formulaire de contact ne sont pas enregistrées dans un fichier informatisé par
            Ayurveda-concept. Les champs du formulaire doivent obligatoirement être complétés. Dans le cas contraire, vous
            ne pourrez pas nous contacter par ce bias.<br/>
            Les données collectées seront communiquées aux seuls destinataires suivants : Ayurveda Concept.</p>
       <p>Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit
           à la limitation du traitement de vos données.</p>

        <h3>Droit de reproduction</h3>
        <p>La reproduction ou réutilisation des contenus de ce site est autorisée sous réserve de mentionner la date et
            la source et plus globalement de respecter la licence ouverte. La copie des autres pages du site, des logos
            doit avoir obtenu l'autorisation du directeur de la publication.</p>
    </article>


{% endblock %}
{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}


