{% extends 'layout.html.twig' %}

{% block titre %}Ayurveda concept : pitta, alimentation, regime ayurvedique pitta, lyon{% endblock %}
{% block content %}
    <h1>PITTA</h1><br />
    <img src="/images/x1pN1mp8dKYgTFSKsLSdLrs4dPoAjRJlvjkvaBt7EnNIN4CeswEEiNz8rtv7kCyr6Tvfngp2vomth2-sW_qExS3682aRhDJIFnBVuC_iGNAlUc-EEcj_w_yWw.gif" class="left th" alt="boris, gail, masseur, domicile, pierre, chaude, 69" height="72" width="75" />
    <p>Elèment  : Feu<br />
    Principe  : Energie<br />
    <strong>CHALEUR</strong></p><hr/>
    <h2>Etes-vous de type Pitta ?</h2>
    <p>OUI, SI VOUS ÊTES ENERGIQUE, DYNAMIQUE, EFFICACE. EXIGEANT, VOUS AVEZ LE GOUT DE L'ORGANISATION ET DES BELLES CHOSES.<br />
    Vous êtes une personne à fort tempéramment. Vous avez tendance à être sous pression par excès d'activité, à être irrité
        et à vous mettre facilement en colère.</p>
    <h2>Les facteurs suivants peuvent déséquilibrer Pitta</h2>
    <p>Une alimentation trop épicée, chaude, acide, salée, les boissons alcoolisées, la cigarette et une exposition excessive
        à la chaleur, trop de contraintes et de pressions.</p>
    <h2>L'excès de Pitta  provoque :</h2>
    <p>Une peau hypersensible, la dilatation de capillaires, des rougeurs et de la couperose.<br />
    Pour préserver et entretenir la beauté de votre peau il est recommandé :</p>
    <ul>
        <li> de trouver un équilibre entre les périodes de repos et d'activités</li>
        <li> de privilégier les aliments sucrés, amers, astringents et rafraîchissants.</li>
    </ul>
    <p>Pour les soins de la peau, LAKSHMI a élaboré une ligne adoucissante, rafraîchissante, très protectrice, apaisante
        et riche en substances naturelles hydratantes, (les peaux de type PITTA sont très souvent réactives).</p>
    <h2>Indications sur les aliments en relation avec la constitution PITTA</h2>
    <img src="/images/chivaregine.jpg" height="150" width="108" class="right th" alt="boris, gail, masseur, domicile, pierre, chaude, 69"/>
     <p>L'alimentation et le mode de vie sont les fondations de l'AYURVEDA. La plupart des problèmes de disfonctionnement
         métabolique sont du à une mauvaise alimentation. Une fois que vous avez appris à manger et vivre avec votre DOSHA,
         vous pourrez éliminer VIKRURTI (déséquilibre) et vivre en harmonie. L'alimentation à pour but de fournir l'énergie
         (prana) dont vous avez besoin et une alimentation associée vous fait garder un poid équilibré et vous donne santé,
         force et longévité.</p>
    <p>D'après la philosophie ayurvédique, la santé et le bien-être dépendent
         du bon fonctionnement du système digestif qui doit fournir de la nourriture au corps. Cela dépend non seulement
         du choix des aliments mais aussi de la façon dont ils sont transformés et assimilés par l'organisme.</p>
    <h3>LEGUMES</h3>
    <table class="text-center">
        <thead>
        <tr>
            <th class="text-center">NON</th>
            <th class="text-center">OUI</th>
        </tr>
        </thead>
        <tr>
            <td>Piquants</td>
            <td >Doux</td>
        </tr>
        <tr>
            <td >Bettes</td>
            <td >Amers</td>
        </tr>
        <tr>
            <td >Carottes</td>
            <td >Asperges</td>
        </tr>
        <tr>
            <td >Aubergines</td>
            <td >Navets</td>
        </tr>
        <tr>
            <td >Ail</td>
            <td >Choux de Bruxelles</td>
        </tr>
        <tr>
            <td >Oignons</td>
            <td >Choux</td>
        </tr>
        <tr>
            <td >Poivrons (piquant)</td>
            <td >Chou-fleur</td>
        </tr>
        <tr>
            <td>Radis</td>
            <td>Concombre</td>
        </tr>
        <tr>
            <td >Tomates</td>
            <td >Céleri</td>
        </tr>
        <tr>
            <td >Epinards</td>
            <td >Haricots verts</td>
        </tr>
        <tr>
            <td ></td>
            <td >Laitue</td>
        </tr>
        <tr>
            <td></td>
            <td >Champignons</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td >Abelmosque</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td >Petits pois</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td >Persil</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td >Poivrons (verts)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td >Pommes de terre</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td >Bourgeons</td>
        </tr>
        <tr>
            <td >&nbsp;</td>
            <td >Courgettes</td>
        </tr>
    </table>
    <h3>FRUITS</h3>
    <table class="text-center">
        <tr>
            <td >Aigre</td>
            <td >Doux</td>
        </tr>
        <tr>
            <td >Abricot</td>
            <td >Pommes</td>
        </tr>
        <tr>
            <td >Baies</td>
            <td >Avocat</td>
        </tr>
        <tr>
            <td >Banane</td>
            <td >Noix de coco</td>
        </tr>
        <tr>
            <td>Cerises</td>
            <td >Figues</td>
        </tr>
        <tr>
            <td >Myrtille</td>
            <td >Raisin (noir)</td>
        </tr>
        <tr>
            <td >Pamplemousse</td>
            <td >Mangue</td>
        </tr>
        <tr>
            <td >Raisin (vert)</td>
            <td >Melon</td>
        </tr>
        <tr>
            <td >Citrons</td>
            <td >Oranges (douces)</td>
        </tr>
        <tr>
            <td >Oranges (aigre)</td>
            <td >Poires</td>
        </tr>
        <tr>
            <td >Papayes</td>
            <td >Ananas (douces)</td>
        </tr>
        <tr>
            <td >Pêches</td>
            <td >Prunes (douces)</td>
        </tr>
        <tr>
            <td >Ananas (aigre)</td>
            <td >Grenadier</td>
        </tr>
        <tr>
            <td >Kaki</td>
            <td >Prunes (sèches)</td>
        </tr>
        <tr>
            <td >Prunes (aigres)</td>
            <td >Raisin sec</td>
        </tr>
    </table>
   <h3> CEREALES</h3>
    <table class="text-center">
        <tr>
            <td >Sarasin</td>
            <td >Orge</td>
        </tr>
        <tr>
            <td >Maïs </td>
            <td >Avoine</td>
        </tr>
        <tr>
            <td >Millet</td>
            <td>riz basmati</td>
        </tr>
        <tr>
            <td >Avoine (sèche)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td >Seigle</td>
            <td >&nbsp;</td>
        </tr>
    </table>
    <h3>ŒUFS – VIANDES - POISSONS</h3>
    <table class="text-center">
        <tr>
            <td >Bœuf</td>
            <td >Viande blanche de poulet ou dinde</td>
        </tr>
        <tr>
            <td >Œuf (jaune)</td>
            <td >Agneau</td>
        </tr>
        <tr>
            <td >Cochon</td>
            <td >Crevettes (en petite quantité)</td>
        </tr>
        <tr>
            <td >Poisson</td>
            <td >Daim</td>
        </tr>
        <tr>
            <td >Cerf</td>
            <td ></td>
        </tr>
    </table>
    <h3>LEGUMES</h3>
    <table >
        <tr>
            <td >Tous les légumes sauf les lentilles</td>
        </tr>
    </table>
   <h3> NOIX, NOISETTES, CACAHUETES, ANACARDIER, COCO, etc……</h3>
    <table >
        <tr>
            <td>Eviter tout, sauf les noix coco</td>
        </tr>
    </table>
    <h3>GRAINES</h3>
    <table>
        <tr>
            <td>
                Aucune graine, sauf les graines de tournesol et de courge</td>
        </tr>
    </table>
    <h3>EDULCORANTS</h3>
    <table >
        <tr>
            <td>Tous les édulcorants sauf la mélasse et le miel</td>
        </tr>
    </table>
    <h3>ASSAISONNEMENTS</h3>
    <table>
        <tr>
            <td >Aucune épices, sauf la coriandre, cannelle, cardamome, fenouil, cucurma, peu poivron noir	</td>
        </tr>
    </table>
    <h3>LAITAGES</h3>
    <table class="text-center">
        <tr>
            <td >Lacto sérum</td>
            <td >Beurre (non salé)</td>
        </tr>
        <tr>
            <td >Fromage</td>
            <td >Ricotta</td>
        </tr>
        <tr>
            <td >Panne acide</td>
            <td >Ghi</td>
        </tr>
        <tr>
            <td >Yaourt</td>
            <td >Lait</td>
        </tr>
    </table>
    <h3>HUILES</h3>
    <table class="text-center">
        <tr>
            <td>Huiles : d’amandes, maïs, sésame, carthame</td>
            <td >Huiles : Nois de coco, olive, tournesol, soja</td>
        </tr>
    </table>
    <h3>CAFE, ALCOOL, FORTEMENT ALCOOLISE</h3>
    <table >
        <tr>
            <td>Aggravent tous les DOSHA</td>
        </tr>
    </table>
{% endblock %}

{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}
