{% extends 'layout.html.twig' %}

{% block titre %}Ayurveda concept : centre relaxation ayurveda, bien etre Sierre{% endblock %}
{% block content %}
    <h1>Centre relaxation AYURVEDA</h1>
    <p><strong>Institut La Bellezza,</strong><br/>
        Avenue Pratifori, 8<br/>
        1950 Sion<br/><br/>
        <strong>Horaire :</strong> 9h00 - 20h00 du Lundi au samedi.<br/>
        Uniquement sur RDV au 077.226.57.13
    </p>
    <h2>Pour me joindre : <strong><a onclick="location.href=dolink(this.title); return false;" title="ayurveda.concept..åt..gmail.com" href="#">Cliquez ici !</a></strong></h2>
    <p>Pour rester à votre service dans le cadre de votre Bien Etre et la Relaxation.<br/>
        <strong>TOUTES LES SEANCES SONT UNIQUEMENT SUR RENDEZ-VOUS DU :</p>
            <ul>
                <li>- du Lundi au vendredi de 11H00 à 20H00,</li>
                <li>- Le samedi de 14h00 à 20h00*</li>
            </ul>
            <em>*En fonction de mes disponibilités. Pour toute annulation, prévoir
                de m’en informer 2 jours à l’avance. Merci de votre compréhension !</em>
    <hr/>
    {% include 'main/ban.html.twig' %}
    <hr/>
    <p>Je ne peux qu’attirer votre attention, une fois de plus, sur les bienfaits de l'Ayurveda, vous avez été heureux de
        les ressentir au cours de séances pratiquées. Ils agissent fortement sur notre psychisme et notre corps, et
        permettent de :</p>
    <img src="/images/Shiva-39.jpg" height="134" width="100" class="right th" alt="massage, zen, relxant, lyon, 69" />
        <ul>
            <li>« relâcher » les tensions nerveuses</li>
            <li>atténuer les tensions psychologiques</li>
            <li>procurer du bien-être</li>
            <li>empêcher le développement de nombreux troubles cutanés (exzéma, croûtes, séborrhée)</li>
            <li>accroître l’endurance, la patience, la confiance en soi, l’intelligence et la vitalité</li>
            <li>détendre les muscles contractés</li>
            <li>améliorer la souplesse et le confort des articulations</li>
            <li>stimuler la circulation sanguine, oxygène les tissus</li>
            <li>favoriser l’élimination des toxines</li>
            <li>améliorer la qualité du sommeil</li>
            <li>soulager les maux causés par le stress</li>
            <li>permettre une bonne régulation du métabolisme (augmente la production de globules blancs et des anticorps)</li>
            <li>renforcer le système immunitaire et le défendre contre toutes agressions intérieures (virus-bactérie -etc.).</li>
        </ul>
        {% include 'main/facebook.html.twig' %}
{% endblock %}


{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}