{% extends 'layout.html.twig' %}

{% block titre %}Tarif massage lyon, huiles essentielles Ayurveda, bien etre, tarifs pierre chaude.{% endblock %}
{% block content %}
    <h1>Forfaits et tarifs</h1>
    <div id="horizontalTab">
        <ul>
            <li><a href="#tab-1">Tarifs</a></li>
            <li><a href="#tab-2">Abonnements</a></li>
            <li><a href="#tab-3">Cartes et réductions</a></li>
            <li><a href="#tab-4">Infos pratiques</a></li>
        </ul>

        <div id="tab-1">
            <h2>Forfait ZEN/DOS (1h) en découverte <span>50€ / 70 CHF</span></h2>
            <p>Dos et tête, méridiens, Drainage, Accu-pression
                Technique de relaxation des cervicales et des bras,
                digito-pression sur les mains, modelage du crane.</p>
            <h2>Forfait ZEN/RELAXANT (1h)<span>75€ / 115 CHF</span></h2>
            <p>Pieds, jambes, dos et tête<br/>
                Réflexologie plantaire, technique circulaire des jambes<br/>
                Drainage, Accu-pression le long des méridiens du dos et massage crânien<br/>
                aux huiles essentielles ayurvédiques chaudes</p>
            <h2>Forfait Shirodara et bol Kansu (1h)<span>65€ / 80 CHF</span></h2>
            <p>Massage des pieds avec un petit bol au 3 métaux (cuivre-bronx-zinc) enduit de Ghee permettant la fluidification
                et la circulation des énergies dans les terminaisons nerveuses des pieds massés. Rééquilibre l’élément Pita
                (feu) et donc rétabli le sommeil, évacue le stress, la nervosité, entraîne une grande sensation de calme
                ainsi améliore le métabolisme en général. Le Shirodhara, soin très subtil, consistant en l’application d’un
                mince filet d’huile tiède sur le front, au niveau du sixième chakra, versé en balancier, d’apaiser le mental
                et détendre profondément le corps.</p>
            <h2>Forfait Business PRO Bien être (1h30) <span>110€ / 150 CHF</span></h2>
            <h2>Forfait femme enceinte (2h)<span>120€ / 150 CHF</span></h2>
            <p>Massage des pieds, jambes, dos et tête.</p>
            <h2>Forfait TONIC (2h)<span>110€ / 125 CHF</span></h2>
            <p>Pieds, jambes, torse et tête.<br/>
                modelage des pieds, étirement et rotation des articulations (Apana Vayu)<br/>
                ouverture chaccras, modelage du visage (schirotchampi)<br/>
                aux huiles essentielles ayurvédiques chaudes</p>
            <h2>Technique ABYANGHA TRADITIONNEL (3h00)<span>170€ / 200 CHF</span></h2>
            <h3>+  Entretien diagnostic et conclusion TEST Prakriti (1h00)- 50€ / 70 CHF</h3>
            <p>Application des 7 pierres de couleur sur les chakras.<br/>
                Préparation mentale (exercices de respiration abdominale et relaxation).<br/>
                Technique d'harmonisation et de stimulation des 3 DOSHAS,agissant sur le psychique, l'émotionnel et la physiologie
                de l'individu. Elimine les toxines, réenergise le corps, relaxe et stimule le Prana.<br/>
                Aux huiles essentielles ayurvédiques chaudes + infusion ayurvedique offerte</p>
            <h2>Technique des Pierres chaudes (2h)<span>130€ / 150 CHF</span></h2>
            <p>Technique relaxante et de décontraction musculaire avec massage des pierres chaudes sur le corps.</p>
            <h2>Technique des Centres énergétiques MARMA (3h)<span>155€ / 200 CHF</span></h2>
            <p>Exercices de respiration et relaxation.<br/>
                Technique des points Marma du corps autour des articulations et des doshas.<br/>
                Aux huiles essentielles ayurvédiques chaudes</p>
            <h2>Technique de massage ayurvédique PICHAULI à quatre mains (2h30)<span>250€ / 300 CHF</span></h2>
            <p>Assouplit et permet le confort des articulations, détoxine tout en apportant une profonde détente du corps
                entier avec les huiles chauffées.</p>
            <h2>Séance fasciabioénergie (2h00)<span>60€ / 150 CHF</span></h2>
            <hr/>
            <p>AYURVEDA-CONCEPT propose :</p>
            <ul>
                <li>Soirée anniversaire,</li>
                <li>Salon et exposition stand Ayurvédic,</li>
                <li>Animation dans les entreprises,</li>
                <li>Animation évènementiel,</li>
                <li>Forfait de 400€/journée pour une animation</li>
            </ul>
            <a href="http://www.ayurveda-concept.com/contactez_boris.htm">Réservez</a> vos animations ou soirées sur le site. Merci !
        </div>
        <div id="tab-2">
            <h2>Carte abonnement</h2>
            <p>Optez pour les abonnements 5 ou 10 séances au choix et bénéficier de réduction* :</p>
            <ul>
                <li>10 séances PICHAULI (5 ou 10 séances) : ...........................................<strong>2000 € / 2400 CHF*</strong></li>
                <li>10 séances "ABYANGHA traditionnel" : ..............................................<strong>1360 € / 1600 CHF*</strong></li>
                <li>10 séances "MARMA" : .........................................................................<strong>1200 € / 1600 CHF*</strong></li>
                <li>10 séances Mixtes (5 séances ABYANGHA+ 5 séances MARMA) .......<strong>1280€ / 1600 CHF</strong></li>
                <li>10 séances "Pierres chaudes" : ..............................................................<strong>880 € / 1240 CHF*</strong></li>
                <li>10 séances "Forfait/Relaxant 1H30  : ....................................................<strong>600 € / 920 CHF*</strong></li>
                <li>10 séances massage ayurvédique enfant 6-17 ans : ..............................<strong>280 € / 550 CHF*</strong></li>
                <li>10 séances – 26 ans : .............................................................................<strong>840 € / 890 CHF*</strong></li>
            </ul>
            <p>Déplacement  à domicile Techniques ancestrale « ABYANGHA » 200€ TTC<br/>
                3H00 facturées incluant les frais de déplacement et la TVA 19,6%</p>
            <em>*Payable en 2 à 4 fois sans frais déduisant le pourcentage<br/>
                *Abonnements proposés avec réduction de -20% pour les adultes et -30% pour les jeunes.<br/>
                *2 séances offertes par le praticien pour un abonnement de 10 et 1 séance offerte pour un abonnement de 5.
            </em>
        </div>
        <div id="tab-3">
            <img src="/images/abonemen.png" alt="zen, massage, relxant, lyon, rhone" height="129" class="th right"/>
            <h3>Carte de Fidélité GRATUITE,</h3>
            <ul>
                <li>BON CADEAU Anniversaire/Evènementiel,</li>
                <li>Carte des 18-26 ans (bénéficiant d’une réduction -5€ sur le forfait ZEN/DOS</li>
                <li>-10€ sur le forfait ZEN/RELAXANT 1h. sur présentation de la carte d’étudiant(e) et d’identité).</li>
            </ul>
            <p>Les jeunes de 6-17 ans bénéficient d’un tarif unique sur le massage Abyangha 2h30 (35€ et 65€) avec autorisation
                parentale  signée et accompagné lors de la première séance. </p>
            <p>Après vos 10 premières séances, le praticien vous offre une séance sur les forfaits, ABYANGHA, MARMA et
                PIERRES-CHAUDES.</p>
            <hr/>
            <img src="/images/kdo.png" alt="relxant, massage,zen, rhone-alpes, 69" height="129" class="th right"/>
            <br/><br/><p>PENSEZ à offrir des "BON CADEAU" à vos proches, familles et ami(e )s pour les FETES DE FIN D'ANNEE et
                ANNIVERSAIRES. </p><br/><hr/>
        </div>
        <div id="tab-4">
            <aside>
                <h3>TOUTES LES SEANCES SONT UNIQUEMENT SUR RENDEZ-VOUS DU :</h3>
                <ul>
                    <li>- Mardi au vendredi de 11H00 à 20H00,</li>
                    <li>- Le samedi de 14h00 à 20h00*</li>
                </ul>
                <h3>Pour prendre rendez-vous :<strong><a onclick="location.href=dolink(this.title); return false;" title="ayurveda.concept..åt..gmail.com" href="#">Cliquez ici !</a></strong></h3>
                <span>*En fonction de mes disponibilités. Pour toute annulation, prévoir de m’en informer 2 jours à l’avance.
                    Merci de votre compréhension !</span>
            </aside><hr/>
            <p>J'utilise la gamme de soin phytocosmétique de l'Ayurvéda fabriquée à
                partir de 7000 variétés de plantes, écorces, racines, fruits, fleurs,
                épices et sélectionnées pour leurs apports énergétiques mais aussi
                thérapeutiques sur le corps. Des huiles essentielles de la marque
                LAKSHMI chauffées (100% pure et naturelle) distillées pression à froid.</p>
        </div>

    </div>

    {% include 'main/ban.html.twig' %}


{% endblock %}


{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.orbit.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
    <script src="/js/foundation/foundation.reveal.js"></script>
    <script src="/js/jquery.responsiveTabs.min.js"></script>
    <script src="/js/ayurveda.js"></script>
{% endblock %}