{% extends 'layout.html.twig' %}

{% block titre %}vata, regime ayurvedique, alimentation vata, lyon : Ayurveda concept{% endblock %}
{% block content %}
    <h1>VATA</h1><br />
    <img src="/images/x1pN1mp8dKYgTFSKsLSdLrs4avFPBjIEB5Z8BajwnP1vuyjnsu0tQLkXwlgTi9gsfFUeOO1PpU55CbRcTwEPJpgTUWd2TFd-YQ-zCXPJalczX435TM0xKlFFA.jpg"  class="left th" alt="massage, ayurveda, lyon, 69" height="72" width="75" />
    <p>
    Elément : air-espace<br />
    Principe : <br/><strong>MOUVEMENT</strong></p><hr/>
    <h2>Êtes-vous de type Vata ?</h2>
    <p>OUI, SI VOUS ETES DE NATURE ENTHOUSIASTE, VIVE, MOBILE, SYMPHATIQUE ET DE CONSTITUTION PLUTOT MINCE, VOIR MENUE.<br />
    Vous avez aussi tendance à être agité, nerveux, instable et stressé avec un sommeil perturbé et des heures de repas irrégulières.</p>
    <h2>Les facteurs suivants peuvent déséquilibrer Vata</h2>
    <p>La nourriture froide, sèche, piquante, amère et astringente,la cigarette, l'alcool, les déplacements et voyages
        fréquents, l'exposition au froid, au vent et trop de stress.</p>
    <h2>L'excès de Vata provoque :</h2>
    <p>Une peau sèche, de nombreuses petites rides et une hyposécrétion sébacée.<br />
    Pour préserver et entretenir la beauté de votre peau, une ligne de soin il est recommande :</p>
    <ul>
        <li>d'avoir un rythme de vie régulier et de prendre le temps de vous détendre.</li>
        <li>de manger et boire chaud, de choisir des aliments onctueux et nourrissants comprenant
            les goûts sucrés, acides et salés.</li>
    </ul>
    <p>Pour les soins de la peau, il a élaboré une ligne de produits très riches utilisant des huiles végétales précieuses
        telles l'onagre, la rose musquée, le jojoba. Cette ligne est nourrissante, protectrice et remarquablement hydratante
        grâce au mucilage de mauve, de guimauve et d'aloé vera.</p>
    <h2>Indications sur les aliments en relation avec la constitution Vata</h2>
    <img src="/images/alimentation.jpg" height="107" width="110" class="right th" alt="massage, ayurveda, lyon, 69"/>
    <p>L'alimentation et le mode de vie sont les fondations de l'AYURVEDA. La plupart des problèmes de disfonctionnement
        métabolique sont du à une mauvaise alimentation. Une fois que vous avez appris à manger et vivre avec votre DOSHA,
        vous pourrez éliminer VIKRURTI   (déséquilibre) et vivre en harmonie.</p>
    <p> L'alimentation a pour but de fournir l'énergie (prana) dont vous avez besoin et une alimentation associée vous
        fait garder un poid équilibré et vous donne santé, force et longévité. D'après la philosophie ayurvédique, la
        santé et le bien-être dépendent du bon fonctionnement du système digestif qui doit fournir de la nourriture au
        corps. Cela dépend non seulement du choix des aliments mais aussi de la façon dont ils sont transformés et assimilés
        par l'organisme.</p>
    <h3>LEGUMES</h3>
    <table  class="text-center">
        <thead>
            <tr>
                <th class="text-center">NON</th>
                <th class="text-center">OUI</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Crus</td>
            <td>Cuits</td>
        </tr>
        <tr>
            <td >Navets</td>
            <td >Asperges</td>
        </tr>
        <tr>
            <td >Choux de Bruxelles</td>
            <td>Bettes</td>
        </tr>
        <tr>
            <td >Choux</td>
            <td >Carottes</td>
        </tr>
        <tr>
            <td >Chou-fleur</td>
            <td >Concombre</td>
        </tr>
        <tr>
            <td >Céleri</td>
            <td >Ail</td>
        </tr>
        <tr>
            <td >Aubergines</td>
            <td >Haricots verts</td>
        </tr>
        <tr>
            <td >Salade*</td>
            <td >Abelmosque (cuits)</td>
        </tr>
        <tr>
            <td >Laitue*</td>
            <td >Oignons (cuits)</td>
        </tr>
        <tr>
            <td >Champignons</td>
            <td >Pommes de terre (douces)</td>
        </tr>
        <tr>
            <td >Oignons cru</td>
            <td >Radis</td>
        </tr>
        <tr>
            <td >Persil</td>
            <td >Courgettes</td>
        </tr>
        <tr>
            <td >Petit pois</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td >Poivrons</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td >Pommes de terre (blanches)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td >Epinards *</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td >Bourgeons *</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td >Tomates	</td>
            <td >&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <em>* Ces légumes doivent être consommés avec modération et assaisonnés à l’huile.</em>
    <h3>FRUITS</h3>
    <table class="text-center" >
        <tr>
            <td >Secs</td>
            <td >Doux</td>
        </tr>
        <tr>
            <td >Pommes</td>
            <td >Abricots</td>
        </tr>
        <tr>
            <td >Myrtille</td>
            <td >Avocat</td>
        </tr>
        <tr>
            <td >Poires</td>
            <td >Banane</td>
        </tr>
        <tr>
            <td >Kaki</td>
            <td >Baies</td>
        </tr>
        <tr>
            <td >Grenadier</td>
            <td >Cerises</td>
        </tr>
        <tr>
            <td >Melon d’eau</td>
            <td >Noix de coco</td>
        </tr>
        <tr>
            <td ></td>
            <td >Figues</td>
        </tr>
        <tr>
            <td ></td>
            <td >Pamplemousse</td>
        </tr>
        <tr>
            <td ></td>
            <td >Raisin</td>
        </tr>
        <tr>
            <td ></td>
            <td >Citrons</td>
        </tr>
        <tr>
            <td ></td>
            <td >Mangue</td>
        </tr>
        <tr>
            <td ></td>
            <td >Melon (doux)</td>
        </tr>
        <tr>
            <td ></td>
            <td >Oranges</td>
        </tr>
        <tr>
            <td ></td>
            <td>Papaye</td>
        </tr>
        <tr>
            <td ></td>
            <td >Pêches</td>
        </tr>
        <tr>
            <td ></td>
            <td >Ananas</td>
        </tr>
        <tr>
            <td ></td>
            <td >prunes</td>
        </tr>
    </table>
    <h3>CEREALES</h3>
    <table class="text-center">
        <tr>
            <td >Orge</td>
            <td >Avoine</td>
        </tr>
        <tr>
            <td >Sarasin</td>
            <td >Riz</td>
        </tr>
        <tr>
            <td >Maïs</td>
            <td ></td>
        </tr>
        <tr>
            <td >Millet</td>
            <td >&nbsp;</td>
        </tr>
        <tr>
            <td >Avoine (sèche)</td>
            <td >&nbsp;</td>
        </tr>
        <tr>
            <td >Seigle</td>
            <td >&nbsp;</td>
        </tr>
    </table>
    <h3>ŒUFS – VIANDES - POISSONS</h3>
    <table class="text-center">
        <tr>
            <td>Agneau</td>
            <td >Bœuf</td>
        </tr>
        <tr>
            <td >Cochon</td>
            <td >Viande blanche de poulet ou dinde</td>
        </tr>
        <tr>
            <td >Lapin</td>
            <td >Œufs (sur le plat)</td>
        </tr>
        <tr>
            <td >Cerf</td>
            <td >Poisson</td>
        </tr>
        <tr>
            <td >Daim</td>
            <td ></td>
        </tr>
    </table>
    <h3>LEGUMES</h3>
    <table >
        <tr>
            <td >Aucun légume sauf Toftu et les lentilles rouges et noires</td>
        </tr>
    </table>
    <h3>NOIX, NOISETTES, CACAHUETES, ANACARDIER, COCO, etc……</h3>
    <table >
        <tr>
            <td >En petites quantités ils sont toutes bénéfiques</td>
        </tr>
    </table>
    <h3>GRAINES</h3>
    <table >
        <tr>
            <td >Toutes les graines sont bénéfiques mais avec modération</td>
        </tr>
    </table>
    <h3>EDULCORANTS</h3>
    <table>
        <tr>
            <td >Tous les édulcorants sauf le sucre blanc</td>
        </tr>
    </table>
    <h3>ASSAISONNEMENTS</h3>
    <table >
        <tr>
            <td>On peut utiliser toutes les épices	</td>
        </tr>
    </table>
    <h3>LAITAGES</h3>
    <table>
        <tr>
            <td>On peut utiliser tous les laitages mais avec modération</td>
        </tr>
    </table>
    <h3>HUILES</h3>
    <table >
        <tr>
            <td>On peut utiliser toutes les huiles</td>
        </tr>
    </table>
    <h3>CAFE, ALCOOL, FORTEMENT ALCOOLISE</h3>
    <table >
        <tr>
            <td >Aggravent tous les DOSHA</td>
        </tr>
    </table>
{% endblock %}

{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}
