@import url("https://fonts.googleapis.com/css?family=Nunito:200,400&display=swap");
@font-face {
  font-family: "lilly";
  src: url(/fonts/Lilly__.woff) format('woff');
}
/* line 104, icon/*.png */
.icon-sprite, .icon-ayurveda, .icon-contact, .icon-facebook, .icon-fasciabioenergie, .icon-formation, .icon-photos, .icon-presentation, .icon-tarifs {
  background-image: url('/web//web/images/icon-s6fc6f1dd66.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ayurveda {
  background-position: 0 0;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-contact {
  background-position: 0 -48px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook {
  background-position: 0 -96px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-fasciabioenergie {
  background-position: 0 -241px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-formation {
  background-position: 0 -289px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-photos {
  background-position: 0 -386px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-presentation {
  background-position: 0 -493px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tarifs {
  background-position: 0 -541px;
}

/* line 11, ../sass/app.scss */
html {
  /*variables*/
}
/* line 1, ../sass/partials/_main.scss */
html body {
  background: #fff;
  font: normal 100% 'Nunito', arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* line 5, ../sass/partials/_main.scss */
html body h1 {
  font: normal 2.25em "lilly", verdana, serif;
}
@media only screen and (max-width: 600px) {
  /* line 5, ../sass/partials/_main.scss */
  html body h1 {
    margin-top: 0;
  }
}
/* line 10, ../sass/partials/_main.scss */
html body h1 a {
  color: #fff;
  text-decoration: none;
}
/* line 13, ../sass/partials/_main.scss */
html body h1 a:hover, html body h1 a:focus {
  color: #fff;
}
/* line 16, ../sass/partials/_main.scss */
html body h2 {
  font: normal 2.25em "lilly", verdana, serif;
}
/* line 18, ../sass/partials/_main.scss */
html body h2 a {
  color: #000;
  padding-left: 5px;
}
/* line 23, ../sass/partials/_main.scss */
html body h3 {
  color: #000;
  font: normal 1.5em "lilly", verdana, serif;
  margin: 0;
}
/* line 27, ../sass/partials/_main.scss */
html body h3 span {
  color: #4267b2;
}
/* line 29, ../sass/partials/_main.scss */
html body em {
  font-size: 0.8em;
  color: #999;
}
/* line 30, ../sass/partials/_main.scss */
html body ul li ul, html body dd {
  margin-left: 0;
}
/* line 31, ../sass/partials/_main.scss */
html body a {
  color: #4267b2;
  text-decoration: underline;
}
/* line 34, ../sass/partials/_main.scss */
html body a:hover, html body a:active, html body a:focus {
  text-decoration: none;
  color: #4267b2;
}
/* line 40, ../sass/partials/_main.scss */
html body header h1 {
  color: #302510;
  display: block;
  background: url(/images/Shiva.png) no-repeat center top;
  margin: 0 auto;
  padding-top: 38px;
  text-align: right;
  width: 170px;
  font: normal 2.1em/1 "piron",Georgia, "Times New Roman", Times, serif;
}
/* line 50, ../sass/partials/_main.scss */
html body header p {
  color: #fff;
  font: normal 0.8em 'Nunito', sans-serif;
  margin-bottom: 5px;
}
/* line 55, ../sass/partials/_main.scss */
html body header a {
  text-decoration: none;
}
/* line 57, ../sass/partials/_main.scss */
html body header a:hover, html body header a:focus {
  color: #000;
  text-decoration: underline;
}
/* line 64, ../sass/partials/_main.scss */
html body table {
  width: 100%;
  text-align: center;
}
/* line 67, ../sass/partials/_main.scss */
html body table td {
  width: 50%;
}
/* line 68, ../sass/partials/_main.scss */
html body table thead {
  color: #fff;
}
/* line 70, ../sass/partials/_main.scss */
html body table thead tr {
  background: #dbbd46;
}
/* line 74, ../sass/partials/_main.scss */
html body table tbody tr:nth-child(odd) {
  background: #f1edde;
}
/* line 77, ../sass/partials/_main.scss */
html body table tbody tr td {
  text-align: center;
}
/* line 82, ../sass/partials/_main.scss */
html body iframe {
  min-width: 683px;
}
/* line 84, ../sass/partials/_main.scss */
html #logo {
  display: block;
  margin: 70px auto;
  max-width: 486px;
}
/* line 88, ../sass/partials/_main.scss */
html #logo img {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 540px) {
  /* line 84, ../sass/partials/_main.scss */
  html #logo {
    padding: 0 20px;
  }
}
/* line 93, ../sass/partials/_main.scss */
html .btn {
  display: inline-block;
  border-radius: 25px;
  border: 2px solid;
  padding: 5px 10px;
  font: normal 1.125em "lilly", serif;
  text-decoration: none;
  margin-top: 30px;
  text-align: center;
}
/* line 103, ../sass/partials/_main.scss */
html .copyright {
  font: normal 0.8em 'Nunito', sans-serif;
  color: #666;
  text-align: right;
  padding: 20px;
}
@media only screen and (max-width: 450px) {
  /* line 103, ../sass/partials/_main.scss */
  html .copyright {
    text-align: center;
    font: normal 0.75em 'Nunito', sans-serif;
  }
}
/* line 113, ../sass/partials/_main.scss */
html .left {
  margin-right: 1em;
  float: left !important;
}
/* line 117, ../sass/partials/_main.scss */
html .right {
  margin-left: 1em;
  float: right !important;
}
/* line 121, ../sass/partials/_main.scss */
html .th {
  line-height: 0;
  display: inline-block;
  border: solid 4px #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
/* line 3, ../sass/partials/_navbar.scss */
html header nav {
  text-align: center;
}
/* line 5, ../sass/partials/_navbar.scss */
html header nav ul {
  padding: 0;
  max-width: 1000px;
  margin: 20px auto;
}
/* line 9, ../sass/partials/_navbar.scss */
html header nav ul li {
  list-style: none;
  padding: 0 20px;
  height: 48px;
  display: inline-block;
}
@media only screen and (max-width: 995px) {
  /* line 9, ../sass/partials/_navbar.scss */
  html header nav ul li {
    padding: 0 5px;
  }
}
/* line 17, ../sass/partials/_navbar.scss */
html header nav ul li li {
  padding-left: 0;
  height: 15px;
  overflow: hidden;
  display: none;
}
/* line 18, ../sass/partials/_navbar.scss */
html header nav ul li a {
  color: #000;
  font: normal 1.125em 'Nunito', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 995px) {
  /* line 18, ../sass/partials/_navbar.scss */
  html header nav ul li a {
    font: normal 1em 'Nunito', sans-serif;
  }
}
/* line 26, ../sass/partials/_navbar.scss */
html header nav ul li a:hover {
  color: #333;
  text-decoration: underline;
}
/* line 2, ../sass/partials/_content.scss */
html #content {
  /* homepage */
  /* includes */
}
/* line 3, ../sass/partials/_content.scss */
html #content #banner {
  background: #dbbd46;
  display: flex;
  min-height: 467px;
  color: #fff;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.25);
}
/* line 9, ../sass/partials/_content.scss */
html #content #banner h2 {
  font: normal 1.5em "lilly", verdana, serif;
}
@media only screen and (max-width: 900px) {
  /* line 3, ../sass/partials/_content.scss */
  html #content #banner {
    flex-wrap: wrap;
  }
}
/* line 13, ../sass/partials/_content.scss */
html #content #banner iframe {
  width: 50%;
}
@media only screen and (max-width: 900px) {
  /* line 13, ../sass/partials/_content.scss */
  html #content #banner iframe {
    width: 100%;
  }
}
/* line 19, ../sass/partials/_content.scss */
html #content #banner img {
  width: 50%;
}
@media only screen and (max-width: 900px) {
  /* line 19, ../sass/partials/_content.scss */
  html #content #banner img {
    width: 100%;
  }
}
/* line 25, ../sass/partials/_content.scss */
html #content #banner div {
  max-width: 1100px;
  margin: 0 auto;
}
/* line 29, ../sass/partials/_content.scss */
html #content #banner article {
  padding: 38px;
  background: #020024;
  background: linear-gradient(155deg, #020024 0%, rgba(9, 9, 121, 0) 0%, rgba(255, 255, 255, 0.39538) 100%);
  width: 50%;
  min-width: 50%;
}
@media only screen and (max-width: 900px) {
  /* line 29, ../sass/partials/_content.scss */
  html #content #banner article {
    max-width: 100%;
    width: 100%;
  }
}
/* line 38, ../sass/partials/_content.scss */
html #content #banner article a {
  color: #fff;
}
/* line 40, ../sass/partials/_content.scss */
html #content #banner article a .btn {
  border-color: #fff;
}
/* line 46, ../sass/partials/_content.scss */
html #content #ban {
  background: url(/images/pattern.png) no-repeat left bottom;
  min-height: 430px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}
/* line 50, ../sass/partials/_content.scss */
html #content #ban article {
  padding: 38px 25%;
}
@media only screen and (max-width: 600px) {
  /* line 50, ../sass/partials/_content.scss */
  html #content #ban article {
    padding: 38px 10%;
  }
}
/* line 55, ../sass/partials/_content.scss */
html #content #ban article a {
  color: #000;
}
/* line 58, ../sass/partials/_content.scss */
html #content .content {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px 40px 20px;
}
/* line 66, ../sass/partials/_content.scss */
html #content #blocs {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 60px auto;
}
@media only screen and (max-width: 900px) {
  /* line 66, ../sass/partials/_content.scss */
  html #content #blocs {
    flex-wrap: wrap;
  }
}
/* line 74, ../sass/partials/_content.scss */
html #content #blocs dl {
  box-shadow: 1px 1px 6px -3px #404040;
  text-align: center;
  min-width: 240px;
  padding: 40px;
  margin: 20px;
}
@media only screen and (max-width: 900px) {
  /* line 74, ../sass/partials/_content.scss */
  html #content #blocs dl {
    width: 100%;
  }
}
/* line 83, ../sass/partials/_content.scss */
html #content #blocs dl dt {
  color: #dbbd46;
  font: normal 2.25em "lilly", serif;
  margin: 20px 0;
}
/* line 88, ../sass/partials/_content.scss */
html #content #blocs dl dd {
  color: #333;
}
/* line 90, ../sass/partials/_content.scss */
html #content #blocs dl dd a {
  color: #4267b2;
  font: normal 1.25em "lilly", serif;
  display: inline-block;
  margin-top: 30px;
}
/* line 97, ../sass/partials/_content.scss */
html #content #blocs dl.gold {
  background: #dbbd46;
  background: linear-gradient(155deg, #dbbd46 0%, #dbbd46 52%, #ffffff 100%);
}
/* line 100, ../sass/partials/_content.scss */
html #content #blocs dl.gold dt {
  color: #fff;
}
/* line 105, ../sass/partials/_content.scss */
html #content .fb {
  background: #4267b2;
  height: 85px;
  color: #fff;
  margin: 40px auto;
}
/* line 110, ../sass/partials/_content.scss */
html #content .fb div {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}
@media only screen and (max-width: 740px) {
  /* line 110, ../sass/partials/_content.scss */
  html #content .fb div {
    justify-content: space-around;
  }
}
/* line 118, ../sass/partials/_content.scss */
html #content .fb div p {
  font: normal 1.75em "lilly", serif;
  margin: 20px 0 0 0;
}
@media only screen and (max-width: 740px) {
  /* line 118, ../sass/partials/_content.scss */
  html #content .fb div p {
    display: none;
  }
}
/* line 125, ../sass/partials/_content.scss */
html #content .fb div a {
  color: #fff;
  display: inline-block;
  margin: 25px 20px 0 0;
  font-size: 1.5em;
}
/* line 131, ../sass/partials/_content.scss */
html #content .fb div img {
  margin-top: -28px;
}
/* line 3, ../sass/partials/_forms.scss */
html #banner fieldset {
  border: none;
  width: 100%;
}
/* line 6, ../sass/partials/_forms.scss */
html #banner fieldset label {
  display: none;
}
/* line 7, ../sass/partials/_forms.scss */
html #banner fieldset input {
  width: 90%;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
}
/* line 13, ../sass/partials/_forms.scss */
html #banner fieldset textarea {
  border: none;
  width: 90%;
  font: normal 0.725em 'Nunito', sans-serif;
  padding: 10px 20px;
  min-height: 80px;
}
/* line 20, ../sass/partials/_forms.scss */
html #banner fieldset #form_Envoyer {
  width: 95%;
  margin: 10px auto;
}
/* line 29, ../sass/partials/_forms.scss */
html #form_vata input, html #form_pitta input, html #form_kapha input {
  margin: 0 10px;
  float: right;
  padding: 0;
  position: relative;
  top: 15px;
}
/* line 36, ../sass/partials/_forms.scss */
html #form_vata label, html #form_pitta label, html #form_kapha label {
  display: block;
  padding: 10px;
  margin: 2px 0 0 0;
  background: #f1edde;
}
/* line 43, ../sass/partials/_forms.scss */
html button {
  border-radius: 25px;
  background: #dbbd46;
  border: none;
  margin: 10px 5px 0 0;
  padding: 5px 10px;
  min-width: 100px;
  font: normal 1.125em "lilly", serif;
  transition: background 0.5s ease;
  cursor: pointer;
}
/* line 53, ../sass/partials/_forms.scss */
html button:hover {
  background: #e1c553;
}
/* line 55, ../sass/partials/_forms.scss */
html #form_effacer {
  background: none;
  border: 1px solid #000;
}
/* line 2, ../sass/partials/_footer.scss */
html footer {
  background: url(/images/footer-pattern.png) no-repeat left center #dbbd46;
  color: #fff;
}
/* line 5, ../sass/partials/_footer.scss */
html footer div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 9, ../sass/partials/_footer.scss */
html footer div dl {
  text-align: center;
  padding-top: 10px;
  margin: 40px 0;
}
/* line 13, ../sass/partials/_footer.scss */
html footer div dl dt {
  font: normal 1.75em "lilly", serif;
  text-transform: uppercase;
}
/* line 14, ../sass/partials/_footer.scss */
html footer div dl dd {
  font-size: 1.25em;
}
/* line 16, ../sass/partials/_footer.scss */
html footer div dl dd em {
  font: 200 1em 'Nunito', sans-serif;
  font-style: italic;
  color: #fff;
}
/* line 20, ../sass/partials/_footer.scss */
html footer div nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 550px;
  padding: 20px;
}
/* line 26, ../sass/partials/_footer.scss */
html footer div nav ul {
  padding: 0;
}
/* line 28, ../sass/partials/_footer.scss */
html footer div nav ul li {
  list-style: none;
}
/* line 30, ../sass/partials/_footer.scss */
html footer div nav ul li a {
  text-decoration: none;
  font-size: 1.125em;
  display: inline-block;
  margin: 10px 0;
}
/* line 31, ../sass/partials/_footer.scss */
html footer div nav ul li li {
  list-style: circle;
  margin-left: 40px;
}
/* line 34, ../sass/partials/_footer.scss */
html footer div nav ul li li a {
  text-decoration: underline;
  font-size: 0.8em;
  margin: 0;
}
/* line 40, ../sass/partials/_footer.scss */
html footer span {
  display: block;
}
/* line 41, ../sass/partials/_footer.scss */
html footer a {
  color: #fff;
  text-decoration: underline;
}
/* line 44, ../sass/partials/_footer.scss */
html footer a:hover, html footer a:active, html footer a:visited {
  color: #fff;
  text-decoration: none;
}
/* line 2, ../sass/partials/_responsive-tabs.scss */
html #content .r-tabs ul.r-tabs-nav {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #60441e;
}
/* line 3, ../sass/partials/_responsive-tabs.scss */
html #content .r-tabs a {
  text-decoration: underline;
}
/* line 4, ../sass/partials/_responsive-tabs.scss */
html #content .r-tabs a:hover {
  text-decoration: none;
}
/* line 5, ../sass/partials/_responsive-tabs.scss */
html #content .r-tabs li a {
  text-decoration: none;
}
/* line 6, ../sass/partials/_responsive-tabs.scss */
html #content .r-tabs li.r-tabs-tab {
  display: inline-block;
  position: relative;
  top: 1px;
  padding: 10px;
  border: 1px solid #60441e;
  margin: 0 1px;
  list-style: none;
}
/* line 7, ../sass/partials/_responsive-tabs.scss */
html #content .r-tabs li.r-tabs-state-active {
  border-bottom: 1px solid #fff;
}
/* line 8, ../sass/partials/_responsive-tabs.scss */
html #content .r-tabs .r-tabs-panel {
  padding: 15px;
  display: none;
}
/* line 9, ../sass/partials/_responsive-tabs.scss */
html #content .r-tabs .r-tabs-accordion-title {
  display: none;
}
/* line 10, ../sass/partials/_responsive-tabs.scss */
html #content .r-tabs .r-tabs-panel.r-tabs-state-active {
  display: block;
}
/* line 11, ../sass/partials/_responsive-tabs.scss */
html #content .r-tabs-anchor a {
  text-decoration: underline;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  /* line 13, ../sass/partials/_responsive-tabs.scss */
  html #content .r-tabs .r-tabs-nav {
    display: none;
  }
  /* line 14, ../sass/partials/_responsive-tabs.scss */
  html #content .r-tabs .r-tabs-accordion-title {
    display: block;
  }
}
