// main content
#content{
  h3{
    font:normal 0.9em "piron",Georgia, "Times New Roman", Times, serif;
    margin: 10px 0;
  }
  a.facebook{
    display: block; background: #ff7e00; text-align: center;
  }
  p, em, ul{font-size: 0.9em}
  li{margin-left: 40px}
  div.orbit-container li{margin-left: 0}
  hr{border-color:#ffaa4f;}
  audio{width: 100%; max-width: 400px;}
  button{
    border-radius:5px;
    background: #664723;
    border-color:#4e361a ;
    margin-top: 10px;
    padding: 5px;
    transition: background 0.5s ease;
    &:hover{
      background: #785429;
    }
  }
  table{
    width: 100%;
    th, td{width: 50%;}
  }
}

//class
.right{margin-left: 1em}
.left{margin-right: 1em}
.orbit-container img{width: 100%;}
.orbit-bullets {display: table;}
.orbit-bullets li {
  cursor: pointer;
  background: none repeat scroll 0 0 #4e361a;
  border: 1px solid #4e361a;
}
.orbit-bullets li.active {
  background: none repeat scroll 0 0 #785429;
  border: 1px solid #785429;
}