// main content
.right{margin-left: 1em}
.left{margin-right: 1em}
#content{
  h3{
    font:normal 0.9em "piron",Georgia, "Times New Roman", Times, serif;
    margin: 10px 0;
  }
  a.facebook{
    display: block; background: #ff7e00; text-align: center;
  }
  p, em, ul{font-size: 0.9em}
  li{margin-left: 40px}
  hr{border-color:#ffaa4f;}
  audio{width: 100%; max-width: 400px;}
}