// footer
footer {
  position: relative;
  background: url(../images/Forme.png) no-repeat center 20px #4C371A;
  color: #fff;
  text-align: center;
  padding:20px 0;
  margin-top: 5px;
  font:normal 1em "piron",Georgia, "Times New Roman", Times, serif;
  h6{
    font:normal 1.2em "piron",Georgia, "Times New Roman", Times, serif;
    color: #fff;
  }
  p{
    font-size: 0.8em;
    span{
      font-size: 0.7em;
      display: block;
    }
    a{
      color:#fff;
      text-decoration: none;
      &:hover, &:active, &:visited{color:#fff; text-decoration: underline; }
    }
  }
  div{
    font:normal 0.6em "piron",Georgia, "Times New Roman", Times, serif;
    background: #302510;
    text-align: left;
    color: #5d4928;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding:5px;
    span{
      float: right;
      a{
        color: #5d4928;
        text-decoration: none;
        &:hover{color: #5d4928;}
      }
    }
  }
}
