// footer
footer {
  background: url(../images/Forme.png) no-repeat center 20px #4C371A;
  color: #fff;
  text-align: center;
  padding:20px 0;
  margin-top: 5px;
  font:normal 1em "piron",Georgia, "Times New Roman", Times, serif;
  h6{
    font:normal 1.2em "piron",Georgia, "Times New Roman", Times, serif;
    color: #fff;
  }
  p{
    font-size: 0.8em;
    span{
      font-size: 0.7em;
      display: block;
    }
  }
}
