body{
  background:#fff;
  font:normal 100% 'Nunito', arial, sans-serif;
  margin: 0; padding:0;
  h1{
    font:normal 2.25em "lilly", verdana, serif;
    @media only screen and (max-width:600px){
      margin-top:0
    }
    a{
      color: #fff;
      text-decoration: none;
      &:hover, &:focus{color: #fff;}
    }
  }
  h2{
    font:normal 2.25em "lilly", verdana, serif;
    a{
      color: #000;
      padding-left: 5px;
    }
  }
  h3{
    color:#000;
    font:normal 1.5em "lilly", verdana, serif;
    margin: 0;
    span{color:#4267b2}
  }
  em{font-size: 0.8em; color:#999}
  ul li ul, dd{margin-left: 0}
  a{
    color:#4267b2;
    text-decoration: underline;
    &:hover, &:active, &:focus{
      text-decoration: none;
      color:#4267b2;
    }
  }
  header{
    h1{
      color:#302510;
      display:block;
      background: url(/images/Shiva.png) no-repeat center top;
      margin: 0 auto;
      padding-top:38px;
      text-align: right;
      width: 170px;
      font:normal 2.1em/1 "piron",Georgia, "Times New Roman", Times, serif;
    }
    p{
      color:#fff;
      font:normal 0.8em 'Nunito', sans-serif;
      margin-bottom: 5px;
    }
    a{
      text-decoration: none;
      &:hover,
      &:focus {
        color:#000;
        text-decoration: underline;
      }
    }
  }
  table{
    width: 100%;
    text-align: center;
    td{width: 50%}
    thead{
      color: #fff;
      tr{background: #dbbd46;}
    }
    tbody{
      tr{
        &:nth-child(odd){
          background: #f1edde;
        }
        td{text-align: center;}
      }
    }

  }
  iframe{min-width: 683px}
}
#logo{
  display: block;
  margin: 70px auto;
  max-width: 486px;
  img{max-width: 100%; height: auto;}
  @media only screen and (max-width:540px){
    padding: 0 20px;
  }
}
.btn{
  display: inline-block;
  border-radius: 25px;
  border: 2px solid;
  padding: 5px 10px;
  font:normal 1.125em "lilly", serif;
  text-decoration: none;
  margin-top: 30px;
  text-align: center;
}
.copyright{
  font:normal 0.8em 'Nunito', sans-serif;
  color: #666;
  text-align: right;
  padding: 20px;
  @media only screen and (max-width:450px){
    text-align: center;
    font:normal 0.75em 'Nunito', sans-serif;
  }
}
.left {
  margin-right: 1em;
  float: left !important;
}
.right {
  margin-left: 1em;
  float: right !important;
}
.th {
  line-height: 0;
  display: inline-block;
  border: solid 4px #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}


