// menu
header{
  nav{
    ul{
      padding: 0;
      max-width:1000px;
      margin: 20px auto;
      li{
        list-style: none;
        padding:0 2%;
        height:48px;
        display: inline-block;
        li{padding-left:0; height:15px; overflow:hidden; display: none}
        a{
          color:#000;
          font:normal 1.125em 'Nunito', sans-serif;
          text-decoration: none;
          text-transform: uppercase;
          &:hover{
            color:#333;
            text-decoration: underline;
          }
        }
      }
    }
  }
}