//responsive-tabs
#content .r-tabs ul.r-tabs-nav{margin:0;padding:0;border-bottom:1px solid #60441e}
#content .r-tabs a{text-decoration:none}
#content .r-tabs a:hover{text-decoration:underline}
#content .r-tabs li.r-tabs-tab{display:inline-block;position:relative;top:1px;padding:10px;border:1px solid #60441e;margin:0 1px;list-style:none}
#content .r-tabs li.r-tabs-state-active{border-bottom:1px solid #f39519}
#content .r-tabs .r-tabs-panel{padding:15px;display:none}
#content .r-tabs .r-tabs-accordion-title{display:none}
#content .r-tabs .r-tabs-panel.r-tabs-state-active{display:block}
#content .r-tabs-anchor a{text-decoration:underline;margin-bottom:10px}
@media only screen and (max-width:768px){
  #content .r-tabs .r-tabs-nav{display:none}
  #content .r-tabs .r-tabs-accordion-title{display:block}
}