{# footer #}
<img src="/images/Lotus.png" alt="lotus, detente, lyon" />
<h6>• Boris Gaïl •</h6>
<p>Practicien en Ayurveda<br/>Fasciabioenergeticien
<span>Abyanga - Marma - Shirodhara - Fasciabioénergie</span></p>
<p><a onclick="location.href=dolink(this.title); return false;" title="ayurveda.concept..åt..gmail.com" href="#">Contactez moi !</a></p>
<div>Copyright Ayurveda-concept.com - 2007 / {{ "now"|date("Y") }}<span><a href="http://www.usine-creative.com" target="_blank">Usine Créative</a></span></div>

{% block js %}
    <script src="/js/antispam.js"></script>
{% endblock %}