{# header #}
<header>
    <h1>Ayurveda<br/>Concept</h1>
    <p>Bien-être - Santé - Longévité</p>
    <a href="/index.php/">www.ayurveda-concept.com</a>
    <a class="show-for-small" id="sidebarButton" href="#sidebar"> </a>
</header>
	