// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
//@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";
//var orbit custo
$orbit-container-bg: #f39519;
@import "foundation/components/orbit";
@import "foundation/components/reveal";
@import "compass/css3";
//var table custo
$table-bg: #f39519;
$table-even-row-bg: #ff7e00;
$table-border-color: #60441e;
$table-head-bg: #60441e;
$table-head-font-color: #fff;
@import "foundation/components/tables";



@include font-face(
    "piron", font-files("/fonts/tfpironv2-webfont.eot",
    "/fonts/tfpironv2-webfont.woff",
    "/fonts/tfpironv2-webfont.ttf",
    "/fonts/tfpironv2-webfont.eot?#iefix",
    "/fonts/tfpironv2-webfont.svg#piron_v2_regular")
);

@import "compass/utilities/sprites";
@import "icon/*.png";
@include all-icon-sprites;

html{
  /*variables*/
  @import "partials/main";
  @import "partials/navbar";
  @import "partials/content";
  @import "partials/forms";
  @import "partials/footer";
  @import "partials/offcanvas";
  @import "partials/responsive-tabs";
}